*{box-sizing:border-box;}
*{font-family: 'Noto Sans TC', sans-serif;}
html,body{background:#f0f0f0;height:100%;}
/** Clean **/
button{cursor:pointer;}
button:focus {outline:none !important;}
/** Clean **/
.wrapper{margin:0px auto;width:1100px;}
.wrapper{}
.wrapper_flex_full{display:flex;justify-content:space-between;align-items:center;}
.wrapper_flex_vert{display:flex;align-items:center;}
.wrapper_flex_hori{display:flex;justify-content:space-between;}
.wrapper>div.section_title{color:#939393;font-weight:100;padding:10px;border-bottom:0.5px solid #f0f0f0;}
.section_block{margin:10px 0px 20px 0px;}
/*--------------------------------------------------------------*/
.shawdow001{
  -webkit-box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.3);
}
/*--------------------------------------------------------------*/
#sticky_meun{position:fixed;top:0;margin-left: auto;margin-right: auto;left: 0;right: 0;z-index:99;}
#sticky_meun{background:#f0f0f0}
#position_content{position:relative;margin-top:120px;}
/*--------------------------------------------------------------*/
div#position_nav{
  background: rgb(51,101,166);
  background: linear-gradient(180deg, rgba(51,101,166,1) 0%, rgba(59,190,190,1) 100%);
}

div#navigation{width:100%;height:30px;}
div#navigation>div.wrapper{height:inherit;color:white;}
div#navigation div.wrapper_left,div#navigation div.wrapper_right{display:flex;font-size:0.85em;font-weight:300;padding:5px 0px;}

div#navigation div.wrapper_left>div.meun_language{background:#254a7a;color:white;padding:0px 3px;border-radius:3px;cursor:pointer;}
div#navigation div.wrapper_left>div.wrapper_redirect>a.btn_redirect{color:#fff;margin:0px 5px;}
div#navigation div.wrapper_left>div.wrapper_media{margin-left:5px;padding-left:10px;border-left:0.5px solid#c8c8c8;}
div#navigation div.wrapper_left>div.wrapper_media>a.btn_media{color:#fff;margin-right:10px;cursor:pointer;}
div#navigation div.wrapper_left>div.wrapper_media>a.btn_media:hover{color:#ffaa79;}
div#navigation div.wrapper_right>div.wrapper_action{display:flex;}

div#navigation div.wrapper_right>div.wrapper_action>div.btn_action{margin:0px 5px;cursor:pointer;}
div#navigation div.wrapper_right>div.wrapper_user{margin-right:10px;cursor:pointer;}
div#navigation div.wrapper_right>div.wrapper_user>div.user_icon{background:#ffd586;width:20px;height:20px;border-radius:25px;margin-right:5px;}
div#navigation div.wrapper_right>div.wrapper_user>div.user_name{font-weight:500;}
div#navigation div.wrapper_right>div.wrapper_redirect{padding:0px 10px;border-left:0.5px solid #2a5389;border-right:0.5px solid #2a5389;}
div#navigation div.wrapper_right>div.wrapper_redirect>a.btn_redirect{color:white;text-decoration:none;padding:0px 5px;transition:0.1s ease;cursor:pointer}
div#navigation div.wrapper_right>div.wrapper_redirect>a.btn_redirect:hover{background:white;color:#3365a6;border-radius:5px;}
div#navigation div.wrapper_right>div.wrapper_redirect>a.btn_redirect>i{margin-right:10px;}
div#navigation div.wrapper_right>div.wrapper_function{padding:0px 10px;}
div#navigation div.wrapper_right>div.wrapper_function>div.btn_noti{width:25px;line-height:25px;text-align:center;cursor:pointer;}
div#navigation div.wrapper_right>div.wrapper_function>div.btn_noti:hover{background:#fff;color:#3365a6;border-radius:5px;}
div#navigation div.wrapper_right>div.wrapper_function>div.btn_noti:not(:first-child){margin-left:5px;}
/*---*/
div#searchBar{width:100%;height:80px;}
div#searchBar div.wrapper{height:inherit;color:white;}
div#searchBar div.wrapper_left{width:200px;}
div#searchBar div.wrapper_left>a{width:inherit;}
div#searchBar div.wrapper_left>a>img{width:inherit;}
div#searchBar div.wrapper_right>div.wrapper_input{width:600px;height:40px;background:white;padding:3px 3px;border-radius:3px;overflow:hidden;}
div#searchBar div.wrapper_right>div.wrapper_input>input{width:540px;border:none;}
div#searchBar div.wrapper_right>div.wrapper_input>input::placeholder{color:#000;font-size:0.85em;}
div#searchBar div.wrapper_right>div.wrapper_input>button{width:60px;font-size:0.9em;font-weight:700;border-color:transparent;transition:0.2s ease;}
div#searchBar div.wrapper_right>div.wrapper_input>button:hover{background:#6f8cca;color:white;border-radius:3px;}
/*--------------------------------------------------------------*/
/**-------------------------------------------------------------*/
div#section_orderdetailContent{width:100%;margin-bottom:50px;}
div.breadcrumbs{margin:0px auto;width:1100px;margin-bottom:10px;}
div.breadcrumbs{font-size:0.9em;font-weight:300;color:#bababa;}
div.breadcrumbs>a{color:#7a7a7a;}

div#section_orderdetailContent>div.wrapper{}
div#section_orderdetailContent>div.wrapper>div.section_title{background:#fff;color:#737373;font-size:1.1em;font-weight:500;}
div#section_orderdetailContent>div.wrapper>div.section_content{padding:10px 0px;}

div#section_orderdetailContent div.wrapper_mass{display:flex;justify-content: space-between;font-size:0.95em;}
div#section_orderdetailContent div.wrapper_mass>div.wrapper_col{padding:5px 10px;width:20%;}
div#section_orderdetailContent div.wrapper_great{display:flex;}
div#section_orderdetailContent div.wrapper_great>div.wrapper_col{padding:5px 10px;width:50%;}

div#section_orderdetailContent div.wrapper_row{color:#898989;font-weight:100;margin-bottom:10px;}
div#section_orderdetailContent div.wrapper_row.sem_on{
  background: rgb(210,73,73);
  background: linear-gradient(137deg, rgba(210,73,73,1) 0%, rgba(209,90,44,1) 100%);
}
div#section_orderdetailContent div.wrapper_row.sem_on{color:white;border-radius:2px;}
div#section_orderdetailContent div.wrapper_row.sem_on>div.o_info{color:white;font-size:1.2em;font-weight:700;padding-left:10px;}
div#section_orderdetailContent div.wrapper_row>div.o_info{color:#646464;font-size:1.1em;font-weight:500;}
div#section_orderdetailContent div.wrapper_row.c_noti{font-size:0.9em;font-weight:500;}
div#section_orderdetailContent div.wrapper_row.c_noti:first-child{margin-top:40px;}

div#section_orderdetailContent div.wrapper_step{display:flex;justify-content:space-between;align-items:center;}
div#section_orderdetailContent div.wrapper_step{background:#fff;border:0.5px solid #e1e1e1;padding:5px 10px;margin-bottom:20px;}
div#section_orderdetailContent div.wrapper_step.passed{background:#1f5e6f;color:white;}
div#section_orderdetailContent div.wrapper_step.passed>div.des{color:white;}
div#section_orderdetailContent div.wrapper_step>div.circle_step{text-align:center;width:40px;line-height:40px;background:#e1e1e1;color:#000;font-size:1.2em;font-weight:500;border-radius:25px;}
div#section_orderdetailContent div.wrapper_col_oi{background:#fff;}
div#section_orderdetailContent div.wrapper_col_ci{background:#fff;}
div#section_orderdetailContent div.wrapper_col_si{background:#fff;border-radius:4px;}
div#section_orderdetailContent div.col_title{margin-bottom:10px;}


div#section_orderdetailContent div.des{margin:5px 0px;font-size:0.9em;font-weight:500;color:#858585;}

div#section_orderdetailContent div.wrapper_oproduct{background:#fff;border-radius:4px;margin-top:20px;}
div#section_orderdetailContent div.wrapper_oproduct>div.subtitle{color:#242424;font-size:1.3em;font-weight:700;padding:10px;border-bottom:0.5px solid #f0f0f0;}

div#section_orderdetailContent div.wrapper_productStat{display:flex;padding:5px 0px;}
div#section_orderdetailContent div.wrapper_productStat>div.o_productPic{margin-right:25px;}
div#section_orderdetailContent div.wrapper_productStat>div.o_productPic>div.o_pd_image{width:130px;height:130px;}
div#section_orderdetailContent div.wrapper_productStat>div.o_productPic>div.o_pd_image{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  border:0.1px solid #f9f9f9;
}
div#section_orderdetailContent div.wrapper_productStat>div.o_productInfo{position:relative;width:400px;margin-right:25px;}
div#section_orderdetailContent div.wrapper_productStat>div.o_productInfo>div.o_productQty{margin-top:20px;}
div#section_orderdetailContent div.wrapper_productStat>div.o_productInfo>a.o_productVd{position:absolute;bottom:0;color:#787878;font-size:0.9em;font-weight:100;}
div#section_orderdetailContent div.wrapper_productStat>div.o_productPrice{margin:auto 0px;margin-right:25px;}
div#section_orderdetailContent div.wrapper_productStat>div.o_productPrice::before{content:'HK $'}

div#section_orderdetailContent div.wrapper_productStat>div.o_orderStatus{margin:auto 0px;margin-right:80px;}
div#section_orderdetailContent div.wrapper_productStat>div.o_orderStatus>div.o_orderShippongStatus{display:inline-block;background:#213966;color:white;font-size:0.9em;padding:2px 5px;border-radius:3px;}
div#section_orderdetailContent div.wrapper_productStat>div.o_orderAction{margin:auto 0px;}
div#section_orderdetailContent div.wrapper_productStat>div.o_orderAction>button.btn_oaction{background:#e9eafb;font-size:1.3em;font-weight:700;padding:5px 20px;border:none;border-radius:5px;text-align:center;}
div#section_orderdetailContent div.wrapper_productStat>div.o_orderAction>button#btn_oa_confirm{background:#97a9bf;color:white;}
div#section_orderdetailContent div.wrapper_productStat>div.o_orderAction>button#btn_oa_review{background:#97a9bf;color:white;}

div#section_orderdetailContent div.wrapper_split{display:flex;justify-content: space-between;}
div#section_orderdetailContent div.wrapper_split>div{width:100%;}
div#section_orderdetailContent div.wrapper_osummary{background:#fff;border-radius:4px;margin-top:20px;}
div#section_orderdetailContent div.wrapper_osummary>div.subtitle{color:#242424;font-size:1.3em;font-weight:700;padding:10px;border-bottom:0.5px solid #f0f0f0;}

div#section_orderdetailContent div.wrapper_os_content{padding:10px 0px;}
div#section_orderdetailContent div.wrapper_os_content>div.row_des{margin:0px 0px 10px 10px;}
div#section_orderdetailContent div.wrapper_os_content>div.row_des>span:nth-child(1){display:inline-block;width:300px;}
div#section_orderdetailContent div.wrapper_os_content>div.row_des>span:nth-child(2){margin-left:10px;}
div#section_orderdetailContent div.wrapper_os_content>div.row_des:not(:nth-child(3))>span:nth-child(2)::before{content:'HK $'}

div#section_orderdetailContent div.wrapper_receipt{background:#fff;border-radius:4px;margin-top:20px;border-left:0.5px solid #f0f0f0;}
div#section_orderdetailContent div.wrapper_receipt>div.subtitle{color:#242424;font-size:1.3em;font-weight:700;padding:10px;border-bottom:0.5px solid #f0f0f0;}
div#section_orderdetailContent div.wrapper_r_content{}
div#section_orderdetailContent div.wrapper_r_content>button{display: block;margin:0px auto;margin-top:50px;}
div#section_orderdetailContent div.wrapper_r_content>button{background:#7f7f7f;color:white;border:transparent;font-size:1.3em;font-weight:500;padding:10px 50px;;border-radius:2px;}
div#section_orderdetailContent div.wrapper_receipt div.des{padding:5px 5px;;;font-size:0.9em;font-weight:500;color:#858585;}

/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/


div#footer{background:#3f3f44;}
div#footer>div.wrapper{display:grid;grid-gap:60px;grid-template-columns:repeat(auto-fit,minmax(20%,2fr));margin:10px 220px 0px 220px;padding:30px 0px;}
div#footer div.card_col>div.subtitle{font-size:0.7em;font-weight:100;color:#fff;}
div#footer div.card_col>div.card_title{font-size:0.7em;color:#ffffff;}
div#footer div.card_col>div.card_item{margin-top:20px;}
div#footer div.card_col>div.card_item>a{font-size:0.7em;font-weight:100;color:#ffffff;}
div#footer div.card_col>div.card_item>a:hover{text-decoration:none;}
div#footer div.row_wrapper{display:flex;margin-top:20px;}
div#footer div.row_wrapper>div.payment_img{width:40px;margin-right:30px;}
div#footer div.row_wrapper>div.payment_img>img{width:100%;}
#dum{}
