*{box-sizing:border-box;}
*{font-family: 'Noto Sans TC', sans-serif;}
html,body{background:#f0f0f0;height:100%;}
/** Clean **/
button{cursor:pointer;}
button:focus {outline:none !important;}
/** Clean **/
.wrapper{margin:0px auto;width:1100px;}
.wrapper_s{margin:0px auto 20px auto;width:1100px;}
.wrapper_f{min-height:350px;margin:0px auto 20px auto;width:1100px;}
.wrapper_flex_full{display:flex;justify-content:space-between;align-items:center;}
.wrapper_flex_vert{display:flex;align-items:center;}
.wrapper_flex_hori{display:flex;justify-content:space-between;}
.wrapper>div.section_title{color:#939393;font-weight:100;padding:10px;border-bottom:0.5px solid #f0f0f0;}
.wrapper_s>div.section_title{color:#939393;font-weight:100;padding:10px;border-bottom:0.5px solid #f0f0f0;}
.wrapper_s>div.section_title_flex{width:100%;display:flex;justify-content:space-between;color:#939393;font-weight:100;padding:10px;border-bottom:0.5px solid #f0f0f0;}
.wrapper_s>div.section_title_flex>span:nth-child(2){cursor:pointer;}

.section_block{margin:10px 0px 20px 0px;}
/*--------------------------------------------------------------*/
.shawdow001{
  -webkit-box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.3);
}
/*--------------------------------------------------------------*/
#sticky_meun{position:fixed;top:0;margin-left: auto;margin-right: auto;left: 0;right: 0;z-index:96;}
#sticky_meun{background:#f0f0f0}
#position_content{position:relative;margin-top:250px;}
/*--------------------------------------------------------------*/
div#position_nav{
  background: rgb(51,101,166);
  background: linear-gradient(180deg, rgba(51,101,166,1) 0%, rgba(59,190,190,1) 100%);
}

div#navigation{width:100%;height:30px;}
div#navigation>div.wrapper{height:inherit;color:white;}
div#navigation div.wrapper_left,div#navigation div.wrapper_right{display:flex;font-size:0.85em;font-weight:300;padding:5px 0px;}

div#navigation div.wrapper_left>div.meun_language{background:#254a7a;color:white;padding:0px 3px;border-radius:3px;cursor:pointer;}
div#navigation div.wrapper_left>div.wrapper_redirect>a.btn_redirect{color:#fff;margin:0px 5px;}
div#navigation div.wrapper_left>div.wrapper_media{margin-left:5px;padding-left:10px;border-left:0.5px solid#c8c8c8;}
div#navigation div.wrapper_left>div.wrapper_media>a.btn_media{color:#fff;margin-right:10px;cursor:pointer;}
div#navigation div.wrapper_left>div.wrapper_media>a.btn_media:hover{color:#ffaa79;}
div#navigation div.wrapper_right>div.wrapper_action{display:flex;}

div#navigation div.wrapper_right>div.wrapper_action>a.btn_action{color:white;margin:0px 5px;cursor:pointer;}
div#navigation div.wrapper_right>div.wrapper_user{margin-right:10px;cursor:pointer;}
div#navigation div.wrapper_right>div.wrapper_user>div.user_icon{background:#ffd586;width:20px;height:20px;border-radius:25px;margin-right:5px;}
div#navigation div.wrapper_right>div.wrapper_user>div.user_name{font-weight:500;}
div#navigation div.wrapper_right>div.wrapper_redirect{padding:0px 10px;border-left:0.5px solid #2a5389;border-right:0.5px solid #2a5389;}
div#navigation div.wrapper_right>div.wrapper_redirect>a.btn_redirect{color:white;text-decoration:none;padding:0px 5px;transition:0.1s ease;cursor:pointer}
div#navigation div.wrapper_right>div.wrapper_redirect>a.btn_redirect:hover{background:white;color:#3365a6;border-radius:5px;}
div#navigation div.wrapper_right>div.wrapper_redirect>a.btn_redirect>i{margin-right:10px;}
div#navigation div.wrapper_right>div.wrapper_function{padding:0px 10px;}
div#navigation div.wrapper_right>div.wrapper_function>div.btn_noti{width:25px;line-height:25px;text-align:center;}
div#navigation div.wrapper_right>div.wrapper_function>div.btn_noti>i{cursor:pointer;}
div#navigation div.wrapper_right>div.wrapper_function>div.btn_noti:hover{background:#fff;color:#3365a6;border-radius:5px;}
div#navigation div.wrapper_right>div.wrapper_function>div.btn_noti:not(:first-child){margin-left:5px;}
div#navigation div.btn_noti{position:relative;}
div#navigation div.btn_noti>div.meun_dropdown.active{display:block;}
div#navigation div.btn_noti>div.meun_dropdown{display:none;overflow-y:auto;;position:absolute;right:0px;width:400px;height:600px;text-align:left;background:white;color:#000;z-index:99;border:0.5px solid #aeaeae;border-radius:3px;}
div#navigation div.btn_noti>div.meun_dropdown>div.wrapper_row_switch_tap{display:flex;border-bottom:1px solid #aeaeae;padding:5px 5px 0px 5px;}
div#navigation div.wrapper_row_switch_tap>div.switch_tap{width:50px;text-align:center;border-bottom:5px solid transparent;margin-right:4px;cursor:pointer;}
div#navigation div.wrapper_row_switch_tap>div.switch_tap.active{border-bottom:5px solid #ff6258;}
div#navigation div.wrapper_row_switch_tap>div.switch_tap:hover{border-bottom:5px solid #ff6258;}
div#navigation div.wrapper_notidiff_section{display:none;}
div#navigation div.wrapper_notidiff_section.active{display:block;}
div#navigation div.wrapper_noti_section{margin-bottom:10px;}
div#navigation div.wrapper_noti_section>div.headline{background:#f7f7f7;color:#4b4b4b;font-weight:500;padding:2px 5px;border-bottom:1px solid #aeaeae;}
div#navigation div.wrapper_noti_section:not(:first-child)>div.headline{border-top:1px solid #aeaeae;}
div#navigation div.wrapper_noti_p_section{margin-bottom:10px;}
div#navigation div.wrapper_noti_p_section>div.headline{background:#a2beab;color:#4d554f;font-weight:500;padding:2px 5px;border-bottom:1px solid #aeaeae;}
div#navigation div.wrapper_noti_p_section:not(:first-child)>div.headline{border-top:1px solid #aeaeae;}


div#navigation div.wrapper_row_noti_row{display:flex;align-items:center;padding:7px;border-bottom:0.5px solid #aeaeae;cursor:pointer;}
div#navigation div.wrapper_row_noti_row>div.noti_user_info_image{margin-right:7px;}
div#navigation div.wrapper_row_noti_row>div.noti_user_info_image>div{background:#c9c9dc;width:50px;height:50px;border-radius:25px;}
div#navigation div.wrapper_row_noti_row>div.noti_content>{}
div#navigation div.wrapper_row_noti_row>div.noti_content>a{color:black;font-weight:600;}
div#navigation div.wrapper_row_noti_row>div.noti_btns{margin-left:auto;}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti{padding:0px 5px;border:none;}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti:active{}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti.btn_in_noti_accept{background:#1a64c2;color:white;border-radius:3px;}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti.btn_in_noti_accept:hover{background:#1854a1;}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti.btn_in_noti_view{background:#1a64c2;color:white;border-radius:3px;}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti.btn_in_noti_view:hover{background:#1854a1;}

div#navigation div.wrapper_row_noti_p_row>div.noti_p_btns{margin-left:auto;}
div#navigation div.wrapper_row_noti_p_row>div.noti_p_btns>button.btn_in_noti_p{padding:0px 5px;border:none;}
div#navigation div.wrapper_row_noti_p_row>div.noti_p_btns>button.btn_in_noti_p:active{}
div#navigation div.wrapper_row_noti_p_row>div.noti_p_btns>button.btn_in_noti_p.btn_in_noti_p_view{background:#1a64c2;color:white;border-radius:3px;}
div#navigation div.wrapper_row_noti_p_row>div.noti_p_btns>button.btn_in_noti_p.btn_in_noti_p_view:hover{background:#1854a1;}


div#navigation div.wrapper_row_noti_p_row{display:flex;align-items:center;padding:7px;border-bottom:0.5px solid #aeaeae;cursor:pointer;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_info_image{width:50px;height:50px;margin-right:7px;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_info_image>div{width:50px;height:50px;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_info_image>div{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  border:0.1px solid #f9f9f9;
}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_content{}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_content a.noti_product_name{color:black;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_content>div.noti_product_numofgroup{display:inline-block;background:#e86666;color:white;font-size:0.9em;padding:0px 10px;border-radius:3px;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_content>div.noti_product_orderNo{display:inline-block;background:#57759d;color:white;font-size:0.9em;padding:0px 10px;border-radius:3px;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_content>div.noti_product_orderStatus{display:inline-block;color:#476853;font-size:0.9em;padding:0px 5px;}

/*---*/
div#searchBar{width:100%;height:80px;}
div#searchBar div.wrapper{height:inherit;color:white;}
div#searchBar div.wrapper_left{width:200px;}
div#searchBar div.wrapper_left>a{width:inherit;}
div#searchBar div.wrapper_left>a>img{width:inherit;}
div#searchBar div.wrapper_right>div.wrapper_input{background:white;border:1px solid #EAEAEA;border-bottom:none;border-radius:3px}
div#searchBar div.wrapper_right>div.wrapper_input.showing{border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
div#searchBar div.wrapper_right>div.wrapper_input>div.wrapper_ip{width:600px;height:40px;padding:3px 3px;border-radius:3px;overflow:hidden;}
div#searchBar div.wrapper_right>div.wrapper_input input{width:540px;border:none;}
div#searchBar div.wrapper_right>div.wrapper_input input::placeholder{color:#000;font-size:0.85em;}
div#searchBar div.wrapper_right>div.wrapper_input button{width:60px;font-size:0.9em;font-weight:700;border-color:transparent;transition:0.2s ease;}
div#searchBar div.wrapper_right>div.wrapper_input button:hover{background:#6f8cca;color:white;border-radius:3px;}

div#searchBar div.wrapper_right>div.wrapper_input{position:relative;}
div#searchBar div.wrapper_right>div.wrapper_input>div.wrapper_input_autofill{display:none;position:absolute;z-index:99;background:#fff;width:600px;color:#000;border:1px solid #EAEAEA;padding:10px;}
div#searchBar div.wrapper_right>div.wrapper_input>div.wrapper_input_autofill>div.wrapper_subsection{font-size:0.85em;font-weight:100;margin-bottom:10px;}
div#searchBar div.wrapper_right>div.wrapper_input>div.wrapper_input_autofill>div.wrapper_subsection>div.subsection_title{font-weight:500;color:#556b89;}
div#searchBar div.wrapper_right>div.wrapper_input>div.wrapper_input_autofill>div.wrapper_subsection>div.subsection_item{margin-left:20px;}
div#searchBar div.wrapper_subsection_itemwrapper{display:flex;}
div#searchBar div.subsection_item_brick{display:flex;width:260px;margin-right:10px;}
div#searchBar div.subsection_item_brick>div.o_productPic{margin-right:25px;}
div#searchBar div.subsection_item_brick>div.o_productPic>div.o_pd_image{width:50px;height:50px;}
div#searchBar div.subsection_item_brick>div.o_productPic>div.o_pd_image{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  border:0.1px solid #f9f9f9;
}
/*--------------------------------------------------------------*/
div#section_category{width:100%;margin-top:10px;}
div#section_category>div.wrapper{position:relative;background:#fff;}

div#section_category>div.wrapper.scrolled>div.wrapper_category>div.block_cat>div.image_cat{margin:0px auto;height:0px;}
div#section_category>div.wrapper.scrolled>div.wrapper_category>div.block_cat>div.name_cat{line-height:30px;}

div#section_category div.wrapper_category{overflow-x:hidden;white-space:nowrap;}
div#section_category div.block_cat{display:inline-block;position:relative;width:137.5px;}
div#section_category div.block_cat{border-bottom:0.5px solid #f0f0f0;border-right:0.5px solid #f0f0f0;}
div#section_category div.block_cat{transition:0.1s ease;cursor:pointer;}
div#section_category div.block_cat>*{margin:0px auto;text-align:center;}
div#section_category div.block_cat>div.image_cat{background:#f3f3f3;width:50px;height:50px;margin:10px auto;border-radius:25px;}
div#section_category div.block_cat>div.name_cat{font-weight:500;line-height:40px;border-bottom:8px solid transparent;}
div#section_category div.block_cat:hover>div.name_cat{border-bottom:8px solid #5aa0ff;}
div.image_cat,div.name_cat{transition:0.5s ease;}

span.tag_comingSoon{position:absolute;bottom:-1px;right:3px;}
span.tag_comingSoon{background:#ffa316;padding:2px 2px;border-radius:5px;}
span.tag_comingSoon{font-size:0.6em;font-weight:300;}

div#section_category button.btn_cat_slide{position:absolute;background:white;font-size:1.2em;cursor:pointer;border:1px solid #f2eee7;border-radius:25px;}
div#section_category button#click_pre{display:none;left:-15px;bottom:40px;}
div#section_category button#click_nex{right:-15px;bottom:40px;}

div#section_category div.wrapper_subcat{display:block;}
div#section_category div.wrapper_subcat{background:white;width:1100px;border:0.5px solid #f0f0f0;border-top:0px;}
div#section_category div.wrapper_subcat{position:absolute;margin-left:auto;margin-right:auto;left:0;right:0;}
div#section_category div.container_subcat{display:none;}
div#section_category div.container_subcat.active{display:block!important;}
div#section_category div.container_subcat>div.wrapper{display:flex;width:100%;background:#e1e1e1;border:3px solid #e1e1e1;}
div#section_category div.list_subcat_title{width:200px;}
div#section_category div.list_subcat_title>div.title_subcat{color:#515151;font-weight:300;padding:6px 0px 6px 20px;border-bottom:0.1px solid #f5f5f5;cursor:pointer;}
div#section_category div.list_subcat_title>div.title_subcat:hover{background:#fff;}
div#section_category div.list_subcat_title>div.title_subcat.active{background:#fff;}
div#section_category div.list_subcat_item{background:white;width:740px;}
div#section_category div.list_subcat_item>div.block_subcat{display:none;}
div#section_category div.list_subcat_item>div.block_subcat.active{display:grid!important;width:100%;grid-gap:10px;grid-template-columns:repeat(auto-fit,100px);padding:5px 20px;}
div#section_category div.list_subcat_item>div.block_subcat>div.item_subcat{height:100px;border:0.1px solid #ededed;cursor:pointer;}
div#section_category div.list_subcat_item>div.block_subcat>div.item_subcat:hover{background:#fafafa;color:#91b1ff;}
div#section_category div.list_subcat_item>div.block_subcat>div.item_subcat>*{margin:10px auto;}
div#section_category div.list_subcat_item>div.block_subcat>div.item_subcat>div.image_sc_item{width:50px;height:50px;background:#e7e7e7;border-radius:25px;}
div#section_category div.list_subcat_item>div.block_subcat>div.item_subcat>div.name_sc_item{text-align:center;}
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
div#section_resultBox{width:100%;}
div#section_resultBox>div.tempwrapper{margin:0px auto;width:1100px;}
div#section_resultBox>div.headline{display:flex;font-size:1.2em;font-weight:500;}
div#section_resultBox>div.headline>div.search_item{color:#eb6e6a;}
div#section_resultBox>div.wrapper_switch_display{display:flex;margin:10px auto;}
div#section_resultBox>div.wrapper_switch_display>div.btn_switch{width:120px;text-align:center;margin-right:10px;border-bottom:5px solid transparent;cursor:pointer;}
div#section_resultBox>div.wrapper_switch_display>div.btn_switch.active{border-bottom:5px solid #d05e5b;}
div#section_resultBox>div.wrapper_switch_display>div.btn_switch:hover{border-bottom:5px solid #d05e5b;}

div#section_resultBox div.wrapper_f{display:none;}
div#section_resultBox div.wrapper_f.active{display:block;}

div#section_resultBox div.wrapper_s{background:#fff;}
div#section_resultBox div.section_title{}
div#section_resultBox div.wrapper_item{width:100%;padding:5px;}
div#section_resultBox div.brick_item{display:inline-block;width:180px;}
div#section_resultBox div.brick_item>*{margin:0px auto;}
div#section_resultBox div.brick_item>div.item_image{width:170px;height:170px;background:#fadaaf;}
div#section_resultBox div.brick_item>div.item_info{color:#58595a;padding:2px;}

div#section_resultBox div.wrapper_row_brand{width:100%;display:flex;justify-content:space-between;border-bottom:1px solid #eaeaea;padding:10px 10px;;}
div#section_resultBox div.wrapper_com{display:flex;align-items:center;}
div#section_resultBox div.wrapper_com>div.brand_image{width:90px;height:90px;background:#ebe2e2;border-radius:50%;}
div#section_resultBox div.wrapper_com>div.brand_binfo{margin-left:20px;}
div#section_resultBox div.wrapper_com>div.brand_binfo>div.brand_name{font-size:1.2em;font-weight:700;}
div#section_resultBox div.wrapper_com>div.brand_binfo>a>div.action_btn{font-weight:100;background:#76acd1;color:white;text-align:center;border-radius:3px;cursor:pointer;}
div#section_resultBox div.wrapper_com>div.brand_binfo>a>div.action_btn:hover{background:#4a6ead;}

div#section_resultBox div.brand_stat{display:flex;align-items:center;}
div#section_resultBox div.brand_stat>*{margin:0px 30px;}
div#section_resultBox div.brand_stat>*{font-weight:700;}
div#section_resultBox div.brand_stat>*>span{font-weight:300;}

div#section_resultBox div.wrapper_row_vendor{width:100%;display:flex;justify-content:space-between;border-bottom:1px solid #eaeaea;padding:10px 10px;;}
div#section_resultBox div.wrapper_com{display:flex;align-items:center;}
div#section_resultBox div.wrapper_com>div.company_image{width:90px;height:90px;background:#ebe2e2;border-radius:50%;}
div#section_resultBox div.wrapper_com>div.company_binfo{margin-left:20px;}
div#section_resultBox div.wrapper_com>div.company_binfo>div.company_name{font-size:1.2em;font-weight:700;}
div#section_resultBox div.wrapper_com>div.company_binfo>a>div.action_btn{font-weight:100;background:#76acd1;color:white;text-align:center;border-radius:3px;cursor:pointer;}
div#section_resultBox div.wrapper_com>div.company_binfo>a>div.action_btn:hover{background:#4a6ead;}

div#section_resultBox div.company_stat{display:flex;align-items:center;}
div#section_resultBox div.company_stat>*{margin:0px 30px;}
div#section_resultBox div.company_stat>*{font-weight:700;}
div#section_resultBox div.company_stat>*>span{font-weight:300;}

/*--------------------------------------------------------------*/
div#section_resultBox div.wrapper_inner{display:flex;}
div#section_resultBox div.section_option{width:200px;}
div#section_resultBox div.section_option div.title_cat{background:#5b5452;color:#fff;font-size:1.2em;font-weight:700px;padding:2px 5px;}
div#section_resultBox div.section_option div.title_cat{display:flex;justify-content:space-between;align-items:center;}
div#section_resultBox div.section_option div.main_cat{color:white;font-size:0.95em;cursor:pointer;padding:2px 5px;margin:3px 0px;}
div#section_resultBox div.section_option div.main_cat{
    background: rgb(59,190,190);
    background: linear-gradient(291deg, rgba(59,190,190,1) 0%, rgba(49,76,159,1) 100%);
  }
div#section_resultBox div.section_option div.main_cat:hover{}
div#section_resultBox div.section_option div.main_cat.active{}
div#section_resultBox div.section_option div.sub_cat_title{font-size:0.9em;font-weight:300;cursor:pointer;padding:2px 5px;margin:3px 0px;border-left:5px solid transparent;}
div#section_resultBox div.section_option div.sub_cat_title.active{background:white;border-left:5px solid #ffb879;}
div#section_resultBox div.section_option div.sub_cat_title:hover{background:white;border-left:5px solid #ffb879;}
div#section_resultBox div.section_option div.sc_list{display:none;}
div#section_resultBox div.section_option div.sc_list.active{display:block!important;}

div#section_resultBox div.section_option div.sc_item{font-size:0.9em;font-weight:100;margin-left:20px;padding:2px 5px;border-left:5px solid transparent;cursor:pointer;}
div#section_resultBox div.section_option div.sc_item:hover{background:white;border-left:5px solid #fd885f;}
div#section_resultBox div.section_option div.sc_item.active{background:white;border-left:5px solid #fd885f;}


div#section_resultBox div.section_option div.cat_rate>div.subTitle{color:#606060;font-size:0.95em;}
div#section_resultBox div.section_option div.cat_rate>div.stars>i.rate_star{color:#fff;cursor:pointer;}
div#section_resultBox div.section_option div.cat_rate>div.stars>i.selected{color:#ffb875;}

div#section_resultBox div.option_brand>div.brand_title{display:flex;justify-content:space-between;align-items:center;}
div#section_resultBox div.option_brand>div.brand_title{background:#5b5452;color:#fff;font-size:1.2em;font-weight:700px;padding:2px 5px;}
div#section_resultBox div.option_brand>div.checkArea{margin-top:2px;}
div#section_resultBox div.option_brand div.brand_item{font-size:0.9em;font-weight:100;margin-left:20px;padding:2px 5px;border-left:5px solid transparent;cursor:pointer;}
div#section_resultBox div.option_brand div.brand_item:hover{background:white;border-left:5px solid #fd885f;}
div#section_resultBox div.option_brand div.brand_item.active{background:white;border-left:5px solid #fd885f;}

div#section_resultBox div.option_price>div.price_title{display:flex;justify-content:space-between;align-items:center;}
div#section_resultBox div.option_price>div.price_title{background:#5b5452;color:#fff;font-size:1.2em;font-weight:700px;padding:2px 5px;}
div#section_resultBox div.option_price>div.price_input_wrapper{display:flex;justify-content:space-between;align-items:center;width:200px;height:30px;margin:10px 0px;}
div#section_resultBox div.option_price>div.price_input_wrapper>input{width:50px;height:20px;}

div#section_resultBox div.section_product{width:880px;margin-left:20px;}
div#section_resultBox div.section_product>div.wrapper{display:grid;grid-gap:10px;grid-template-columns:repeat(auto-fit,minmax(24%,1fr));}
div#section_resultBox div.section_product>div.wrapper{width:880px;padding:5px 10px;}
div#section_resultBox div.block_item{background:white;padding-top:5px;;border:0.5px solid #e9e9e9;border-radius:3px;}
div#section_resultBox div.block_item>*{margin:0px auto;}
div#section_resultBox div.block_item{transition:0.2s ease;cursor:pointer;}
div#section_resultBox div.block_item:hover{transform: scale(1.01)}
div#section_resultBox div.block_item>div.item_image{position:relative;}
div#section_resultBox div.block_item>div.item_image>i{position:absolute;right:10px;top:10px;color:#f6f6f6;font-size:1.4em;}
div#section_resultBox div.block_item>div.item_image>i:hover{color:#ffafaf;}
div#section_resultBox div.block_item:nth-child(odd)>div.item_image{width:200px;height:200px;background:#ffdddd;}
div#section_resultBox div.block_item:nth-child(even)>div.item_image{width:200px;height:200px;background:#bbc7e5;}
div#section_resultBox div.block_item>div.item_info{font-size:0.9em;margin-top:5px;padding:4px 10px 10px 10px;}
div#section_resultBox div.block_item>div.item_info>div.item_bn{display:flex;color:#4e4e4e;margin-bottom:5px;}
div#section_resultBox div.block_item>div.item_info>div.item_bn>span.item_name{}
div#section_resultBox div.block_item>div.item_info>div.item_price{display:flex;align-items: baseline;margin-top:11px;}
div#section_resultBox div.block_item>div.item_info>div.item_price>div.item_price_current{color:#ff6161;font-size:1.2em;font-weight:500;}
div#section_resultBox div.block_item>div.item_info>div.item_price>div.item_price_old{margin-left:5px;color:#9c9c9c;font-size:0.9em;text-decoration:line-through;}
div#section_resultBox div.block_item>div.item_info>div.item_stat{display:flex;justify-content:space-between;align-items: baseline;}
div#section_resultBox div.block_item>div.item_info>div.item_stat{color:#838383;height:20px;font-size:0.85em;padding:20px 0px 10px 0px;}
div#section_resultBox div.block_item>div.item_info>div.item_stat>div.item_rate{display:flex;align-items: baseline;}
div#section_resultBox div.block_item>div.item_info>div.item_stat>div.item_sold{}
/*------*/
div#section_resultBox div.wrapper_f div.wrapper_row_brand{background:white;}
div#section_resultBox div.wrapper_f div.wrapper_row_vendor{background:white;}
/*-----*/
div#section_resultBox div.wrapper_grid{display:grid;width:100%;grid-gap:10px;grid-template-columns:repeat(auto-fit,250px);justify-content:center;padding:5px 20px;}
div#section_resultBox div.block_tagpost{position:relative;display:inline-flex;;height:250px;border-radius:3px;cursor:pointer;}
div#section_resultBox div.block_tagpost:hover{}
div#section_resultBox div.block_tagpost>div.tagpost_image{position:relative;display:block;margin:auto;;width:230px;height:230px;background:#d8d8d7;}
div#section_resultBox div.block_tagpost>div.tagpost_image{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  border:2px solid #e1e1e1;
}
div#section_resultBox div.block_tagpost>div.des{opacity:0;position:absolute;padding:10px;width:100%;height:100%;background:rgba(0,0,0,0.6);color:white;font-size:0.9em;cursor:pointer;border-radius:3px;;}
div#section_resultBox div.block_tagpost:hover>div.des{opacity:1;}
div#section_resultBox div.block_tagpost>div.hover_noti{position:absolute;right:5px;bottom:5px;font-size:0.85em;padding:2px 10px;background:#ec6767;color:#fff;border-radius:3px;}


div#footer{background:#3f3f44;}
div#footer>div.wrapper{display:grid;grid-gap:60px;grid-template-columns:repeat(auto-fit,minmax(20%,2fr));margin:10px 220px 0px 220px;padding:30px 0px;}
div#footer div.card_col>div.subtitle{font-size:0.7em;font-weight:100;color:#fff;}
div#footer div.card_col>div.card_title{font-size:0.7em;color:#ffffff;}
div#footer div.card_col>div.card_item{margin-top:20px;}
div#footer div.card_col>div.card_item>a{font-size:0.7em;font-weight:100;color:#ffffff;}
div#footer div.card_col>div.card_item>a:hover{text-decoration:none;}
div#footer div.row_wrapper{display:flex;margin-top:20px;}
div#footer div.row_wrapper>div.payment_img{width:40px;margin-right:30px;}
div#footer div.row_wrapper>div.payment_img>img{width:100%;}
#dum{}
