*{box-sizing:border-box;}
*{font-family: 'Noto Sans TC', sans-serif;}
html,body{background:#f0f0f0;height:100%;}
/** Clean **/
button{cursor:pointer;}
button:focus {outline:none !important;}
/** Clean **/
.wrapper{margin:0px auto;width:1100px;}
.wrapper_mass{margin:0px auto;width:1100px;}
.wrapper_flex_full{display:flex;justify-content:space-between;align-items:center;}
.wrapper_flex_vert{display:flex;align-items:center;}
.wrapper_flex_hori{display:flex;justify-content:space-between;}
.wrapper>div.section_title{color:#939393;font-weight:100;padding:10px;border-bottom:0.5px solid #f0f0f0;}
.section_block{margin:10px 0px 20px 0px;}
/*--------------------------------------------------------------*/
.shawdow001{
  -webkit-box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.3);
}
/*--------------------------------------------------------------*/
#sticky_meun{position:fixed;top:0;margin-left: auto;margin-right: auto;left: 0;right: 0;z-index:99;}
#sticky_meun{background:#f0f0f0}
#position_content{position:relative;margin-top:250px;}
/*--------------------------------------------------------------*/
div#position_nav{
  background: rgb(51,101,166);
  background: linear-gradient(180deg, rgba(51,101,166,1) 0%, rgba(59,190,190,1) 100%);
}

div#navigation{width:100%;height:30px;}
div#navigation>div.wrapper{height:inherit;color:white;}
div#navigation div.wrapper_left,div#navigation div.wrapper_right{display:flex;font-size:0.85em;font-weight:300;padding:5px 0px;}

div#navigation div.wrapper_left>div.meun_language{background:#254a7a;color:white;padding:0px 3px;border-radius:3px;cursor:pointer;}
div#navigation div.wrapper_left>div.wrapper_redirect>a.btn_redirect{color:#fff;margin:0px 5px;}
div#navigation div.wrapper_left>div.wrapper_media{margin-left:5px;padding-left:10px;border-left:0.5px solid#c8c8c8;}
div#navigation div.wrapper_left>div.wrapper_media>a.btn_media{color:#fff;margin-right:10px;cursor:pointer;}
div#navigation div.wrapper_left>div.wrapper_media>a.btn_media:hover{color:#ffaa79;}
div#navigation div.wrapper_right>div.wrapper_action{display:flex;}

div#navigation div.wrapper_right>div.wrapper_action>a.btn_action{color:white;margin:0px 5px;cursor:pointer;}
div#navigation div.wrapper_right>div.wrapper_user{margin-right:10px;cursor:pointer;}
div#navigation div.wrapper_right>div.wrapper_user>div.user_icon{background:#ffd586;width:20px;height:20px;border-radius:25px;margin-right:5px;}
div#navigation div.wrapper_right>div.wrapper_user>div.user_name{font-weight:500;}
div#navigation div.wrapper_right>div.wrapper_redirect{padding:0px 10px;border-left:0.5px solid #2a5389;border-right:0.5px solid #2a5389;}
div#navigation div.wrapper_right>div.wrapper_redirect>a.btn_redirect{color:white;text-decoration:none;padding:0px 5px;transition:0.1s ease;cursor:pointer}
div#navigation div.wrapper_right>div.wrapper_redirect>a.btn_redirect:hover{background:white;color:#3365a6;border-radius:5px;}
div#navigation div.wrapper_right>div.wrapper_redirect>a.btn_redirect>i{margin-right:10px;}
div#navigation div.wrapper_right>div.wrapper_function{padding:0px 10px;}
div#navigation div.wrapper_right>div.wrapper_function>div.btn_noti{width:25px;line-height:25px;text-align:center;}
div#navigation div.wrapper_right>div.wrapper_function>div.btn_noti>i{cursor:pointer;}
div#navigation div.wrapper_right>div.wrapper_function>div.btn_noti:hover{background:#fff;color:#3365a6;border-radius:5px;}
div#navigation div.wrapper_right>div.wrapper_function>div.btn_noti:not(:first-child){margin-left:5px;}
div#navigation div.btn_noti{position:relative;}
div#navigation div.btn_noti>div.meun_dropdown.active{display:block;}
div#navigation div.btn_noti>div.meun_dropdown{display:none;overflow-y:auto;;position:absolute;right:0px;width:400px;height:600px;text-align:left;background:white;color:#000;z-index:99;border:0.5px solid #aeaeae;border-radius:3px;}
div#navigation div.btn_noti>div.meun_dropdown>div.wrapper_row_switch_tap{display:flex;border-bottom:1px solid #aeaeae;padding:5px 5px 0px 5px;}
div#navigation div.wrapper_row_switch_tap>div.switch_tap{width:50px;text-align:center;border-bottom:5px solid transparent;margin-right:4px;cursor:pointer;}
div#navigation div.wrapper_row_switch_tap>div.switch_tap.active{border-bottom:5px solid #ff6258;}
div#navigation div.wrapper_row_switch_tap>div.switch_tap:hover{border-bottom:5px solid #ff6258;}
div#navigation div.wrapper_notidiff_section{display:none;}
div#navigation div.wrapper_notidiff_section.active{display:block;}
div#navigation div.wrapper_noti_section{margin-bottom:10px;}
div#navigation div.wrapper_noti_section>div.headline{background:#f7f7f7;color:#4b4b4b;font-weight:500;padding:2px 5px;border-bottom:1px solid #aeaeae;}
div#navigation div.wrapper_noti_section:not(:first-child)>div.headline{border-top:1px solid #aeaeae;}
div#navigation div.wrapper_noti_p_section{margin-bottom:10px;}
div#navigation div.wrapper_noti_p_section>div.headline{background:#a2beab;color:#4d554f;font-weight:500;padding:2px 5px;border-bottom:1px solid #aeaeae;}
div#navigation div.wrapper_noti_p_section:not(:first-child)>div.headline{border-top:1px solid #aeaeae;}


div#navigation div.wrapper_row_noti_row{display:flex;align-items:center;padding:7px;border-bottom:0.5px solid #aeaeae;cursor:pointer;}
div#navigation div.wrapper_row_noti_row>div.noti_user_info_image{margin-right:7px;}
div#navigation div.wrapper_row_noti_row>div.noti_user_info_image>div{background:#c9c9dc;width:50px;height:50px;border-radius:25px;}
div#navigation div.wrapper_row_noti_row>div.noti_content>{}
div#navigation div.wrapper_row_noti_row>div.noti_content>a{color:black;font-weight:600;}
div#navigation div.wrapper_row_noti_row>div.noti_btns{margin-left:auto;}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti{padding:0px 5px;border:none;}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti:active{}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti.btn_in_noti_accept{background:#1a64c2;color:white;border-radius:3px;}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti.btn_in_noti_accept:hover{background:#1854a1;}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti.btn_in_noti_view{background:#1a64c2;color:white;border-radius:3px;}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti.btn_in_noti_view:hover{background:#1854a1;}

div#navigation div.wrapper_row_noti_p_row>div.noti_p_btns{margin-left:auto;}
div#navigation div.wrapper_row_noti_p_row>div.noti_p_btns>button.btn_in_noti_p{padding:0px 5px;border:none;}
div#navigation div.wrapper_row_noti_p_row>div.noti_p_btns>button.btn_in_noti_p:active{}
div#navigation div.wrapper_row_noti_p_row>div.noti_p_btns>button.btn_in_noti_p.btn_in_noti_p_view{background:#1a64c2;color:white;border-radius:3px;}
div#navigation div.wrapper_row_noti_p_row>div.noti_p_btns>button.btn_in_noti_p.btn_in_noti_p_view:hover{background:#1854a1;}


div#navigation div.wrapper_row_noti_p_row{display:flex;align-items:center;padding:7px;border-bottom:0.5px solid #aeaeae;cursor:pointer;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_info_image{width:50px;height:50px;margin-right:7px;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_info_image>div{width:50px;height:50px;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_info_image>div{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  border:0.1px solid #f9f9f9;
}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_content{}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_content a.noti_product_name{color:black;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_content>div.noti_product_numofgroup{display:inline-block;background:#e86666;color:white;font-size:0.9em;padding:0px 10px;border-radius:3px;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_content>div.noti_product_orderNo{display:inline-block;background:#57759d;color:white;font-size:0.9em;padding:0px 10px;border-radius:3px;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_content>div.noti_product_orderStatus{display:inline-block;color:#476853;font-size:0.9em;padding:0px 5px;}

/*---*/
div#searchBar{width:100%;height:80px;}
div#searchBar div.wrapper{height:inherit;color:white;}
div#searchBar div.wrapper_left{width:200px;}
div#searchBar div.wrapper_left>a{width:inherit;}
div#searchBar div.wrapper_left>a>img{width:inherit;}
div#searchBar div.wrapper_right>div.wrapper_input{background:white;border:1px solid #EAEAEA;border-bottom:none;border-radius:3px}
div#searchBar div.wrapper_right>div.wrapper_input.showing{border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
div#searchBar div.wrapper_right>div.wrapper_input>div.wrapper_ip{width:600px;height:40px;padding:3px 3px;border-radius:3px;overflow:hidden;}
div#searchBar div.wrapper_right>div.wrapper_input input{width:540px;border:none;}
div#searchBar div.wrapper_right>div.wrapper_input input::placeholder{color:#000;font-size:0.85em;}
div#searchBar div.wrapper_right>div.wrapper_input button{width:60px;font-size:0.9em;font-weight:700;border-color:transparent;transition:0.2s ease;}
div#searchBar div.wrapper_right>div.wrapper_input button:hover{background:#6f8cca;color:white;border-radius:3px;}

div#searchBar div.wrapper_right>div.wrapper_input{position:relative;}
div#searchBar div.wrapper_right>div.wrapper_input>div.wrapper_input_autofill{display:none;position:absolute;z-index:99;background:#fff;width:600px;color:#000;border:1px solid #EAEAEA;padding:10px;}
div#searchBar div.wrapper_right>div.wrapper_input>div.wrapper_input_autofill>div.wrapper_subsection{font-size:0.85em;font-weight:100;margin-bottom:10px;}
div#searchBar div.wrapper_right>div.wrapper_input>div.wrapper_input_autofill>div.wrapper_subsection>div.subsection_title{font-weight:500;color:#556b89;}
div#searchBar div.wrapper_right>div.wrapper_input>div.wrapper_input_autofill>div.wrapper_subsection>div.subsection_item{margin-left:20px;}
div#searchBar div.wrapper_subsection_itemwrapper{display:flex;}
div#searchBar div.subsection_item_brick{display:flex;width:260px;margin-right:10px;}
div#searchBar div.subsection_item_brick>div.o_productPic{margin-right:25px;}
div#searchBar div.subsection_item_brick>div.o_productPic>div.o_pd_image{width:50px;height:50px;}
div#searchBar div.subsection_item_brick>div.o_productPic>div.o_pd_image{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  border:0.1px solid #f9f9f9;
}
/*--------------------------------------------------------------*/
div#section_category{width:100%;margin-top:10px;}
div#section_category>div.wrapper{position:relative;background:#fff;}

div#section_category>div.wrapper.scrolled>div.wrapper_category>div.block_cat>div.image_cat{margin:0px auto;height:0px;}
div#section_category>div.wrapper.scrolled>div.wrapper_category>div.block_cat>div.name_cat{line-height:30px;}

div#section_category div.wrapper_category{overflow-x:hidden;white-space:nowrap;}
div#section_category div.block_cat{display:inline-block;position:relative;width:137.5px;}
div#section_category div.block_cat{border-bottom:0.5px solid #f0f0f0;border-right:0.5px solid #f0f0f0;}
div#section_category div.block_cat{transition:0.1s ease;cursor:pointer;}
div#section_category div.block_cat>*{margin:0px auto;text-align:center;}
div#section_category div.block_cat>div.image_cat{background:#f3f3f3;width:50px;height:50px;margin:10px auto;border-radius:25px;}
div#section_category div.block_cat>div.name_cat{font-weight:500;line-height:40px;border-bottom:8px solid transparent;}
div#section_category div.block_cat:hover>div.name_cat{border-bottom:8px solid #5aa0ff;}
div.image_cat,div.name_cat{transition:0.5s ease;}

span.tag_comingSoon{position:absolute;bottom:-1px;right:3px;}
span.tag_comingSoon{background:#ffa316;padding:2px 2px;border-radius:5px;}
span.tag_comingSoon{font-size:0.6em;font-weight:300;}

div#section_category button.btn_cat_slide{position:absolute;background:white;font-size:1.2em;cursor:pointer;border:1px solid #f2eee7;border-radius:25px;}
div#section_category button#click_pre{display:none;left:-15px;bottom:40px;}
div#section_category button#click_nex{right:-15px;bottom:40px;}

div#section_category div.wrapper_subcat{display:block;}
div#section_category div.wrapper_subcat{background:white;width:1100px;border:0.5px solid #f0f0f0;border-top:0px;}
div#section_category div.wrapper_subcat{position:absolute;margin-left:auto;margin-right:auto;left:0;right:0;}
div#section_category div.container_subcat{display:none;}
div#section_category div.container_subcat.active{display:block!important;}
div#section_category div.container_subcat>div.wrapper{display:flex;width:100%;background:#e1e1e1;border:3px solid #e1e1e1;}
div#section_category div.list_subcat_title{width:200px;}
div#section_category div.list_subcat_title>div.title_subcat{color:#515151;font-weight:300;padding:6px 0px 6px 20px;border-bottom:0.1px solid #f5f5f5;cursor:pointer;}
div#section_category div.list_subcat_title>div.title_subcat:hover{background:#fff;}
div#section_category div.list_subcat_title>div.title_subcat.active{background:#fff;}
div#section_category div.list_subcat_item{background:white;width:740px;}
div#section_category div.list_subcat_item>div.block_subcat{display:none;}
div#section_category div.list_subcat_item>div.block_subcat.active{display:grid!important;width:100%;grid-gap:10px;grid-template-columns:repeat(auto-fit,100px);padding:5px 20px;}
div#section_category div.list_subcat_item>div.block_subcat>div.item_subcat{height:100px;border:0.1px solid #ededed;cursor:pointer;}
div#section_category div.list_subcat_item>div.block_subcat>div.item_subcat:hover{background:#fafafa;color:#91b1ff;}
div#section_category div.list_subcat_item>div.block_subcat>div.item_subcat>*{margin:10px auto;}
div#section_category div.list_subcat_item>div.block_subcat>div.item_subcat>div.image_sc_item{width:50px;height:50px;background:#e7e7e7;border-radius:25px;}
div#section_category div.list_subcat_item>div.block_subcat>div.item_subcat>div.name_sc_item{text-align:center;}
/*--------------------------------------------------------------*/
div#section_adCategory{width:100%;}
div#section_adCategory>div.wrapper{background:#fff;}
div#section_adCategory>div.wrapper>div.section_title{display:flex;justify-content:space-between;align-items:center;}
div#section_adCategory>div.wrapper>div.section_title>div:last-child{color:#7a7a7a;}
div#section_adCategory div.wrapper_item{height:200px;height: inherit;}
div#section_adCategory div.wrapper_item>div.banner_type1{width:100%;display:flex;justify-content:space-between;}
div#section_adCategory div.banner_type1>div.banner_long{width:860px;height:200px;background:#ffb9b9;cursor:pointer;}
div#section_adCategory div.banner_type1>div.banner_short{width:230px;height:200px;background:#ffb090;cursor:pointer;}
/*--------------------------------------------------------------*/
div.breadcrumbs{margin:0px auto;width:1100px;margin-bottom:10px;}
div.breadcrumbs{font-size:0.9em;font-weight:300;color:#bababa;}
div.breadcrumbs>a{color:#7a7a7a;}
/*--------------------------------------------------------------*/
div#section_productDetail hr{margin-top:10px;margin-bottom:0px!important;}
div#section_productDetail{width:100%;}
div#section_productDetail>div.wrapper{display:flex;background:#fff;padding:5px;}
div#section_productDetail>div.wrapper>div.wrapper_productDetail{display:flex;padding-bottom:20px;}
div#section_productDetail div.wrapper_productImage{display:flex;width:550px;}
div#section_productDetail div.wrapper_productImage>div.main_image{width:450px;height:450px;}
div#section_productDetail div.main_image,div.queue_list_image{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  border:0.1px solid #f2f2f2
}
div#section_productDetail div.wrapper_productImage>div.queue_image{margin-right:10px;}
div#section_productDetail div.wrapper_productImage>div.queue_image>div.queue_list_image{width:90px;height:90px;margin-bottom:10px;cursor:pointer;}
div#section_productDetail div.wrapper_productInfo{position:relative;width:500px;margin-left:10px;}

div#section_productDetail div.product_info>div.product_name>span.product_brand{font-weight:100;font-size:0.8em;cursor:pointer;}
div#section_productDetail div.product_info>div.product_name>span.product_brand:hover{color:#609bf1;}
div#section_productDetail div.product_info>div.product_name{font-size:1.5em;font-weight:500;color:#555351;}
div#section_productDetail div.product_info>span.product_vendor{font-size:0.9em;font-weight:300;color:#929292;}
div#section_productDetail div.product_info>span.product_stock{color:white;font-size:.8em;}
div#section_productDetail span.product_stock>span:nth-child(1){background:#57acce;}
div#section_productDetail span.product_stock>span:nth-child(2){background:#ff2a00;}
div#section_productDetail span.product_stock>span:nth-child(3){background:#5bc29b;}
div#section_productDetail span.product_stock>span{display:none;padding:0px 3px;border-radius:5px;}
div#section_productDetail span.product_stock>span.active{display:inline-block;}
div#section_productDetail span.right_div{position:absolute;top:60;right:0;color:#898989;font-size:1.5;font-weight:300;padding-left:3px;}
div#section_productDetail span.right_div>*{margin:0px 3px;}
div#section_productDetail span.product_sold{font-size:1.5}
div#section_productDetail span.product_sold{color:#898989;font-weight:300;padding-left:3px;}

div#section_productDetail div.badege_wrapper{display:flex;}
div#section_productDetail div.product_logD{display:inline-flex;margin-top:10px;background:#63729b;color:#fff;font-weight:300;border-left:0.1px solid #898989;border-right:0.1px solid #898989;padding:0px 5px;border-radius:3px;}
div#section_productDetail div.product_logD{align-items: center;}
div#section_productDetail div.product_logD>i{margin-right:10px;}
div#section_productDetail div.product_x{display:inline-flex;margin-top:10px;background:#ff5c5c;color:#fff;ffont-weight:300;border-left:0.1px solid #898989;border-right:0.1px solid #898989;padding:0px 5px;border-radius:3px;}
div#section_productDetail div.product_x{align-items:center;}
div#section_productDetail div.product_x>i{margin-right:10px;}

div#section_productDetail div.product_info>div.action_btn{position:absolute;top:0;right:0;font-size:1.5em;color:#ddd3cf;cursor:pointer;}
div#section_productDetail div.product_info>div.action_btn:hover{color:#fb5f20;}

div#section_productDetail div.info_sect{}

div#section_productDetail div.product_price{display:inline-flex;width:100%;margin:20px 0px 30px 0px;}
div#section_productDetail div.product_price>div.price_list{width:50%;background:#FAFAFA;padding:5px;margin-right:10px;}
div#section_productDetail div.product_price div.des{color:#ad8c74;font-size:0.85em;font-weight:300;}
div#section_productDetail div.product_price>div:nth-child(1)>div.pe{color:#504d4a;font-size:1.5em;}
div#section_productDetail div.product_price>div:nth-child(2)>div.pe{color:#ff6b6b;font-size:1.5em;}
div#section_productDetail div.product_price div.pro_des{display:inline-block;font-size:0.8em;font-weight:300;background:#f56666;color:white;padding:0px 10px;border-radius:3px;}
div#section_productDetail div.product_price div.pro_des>span{font-size:1.1em;font-weight:900;margin-left:5px;}


div#section_productDetail div.qty_wrapper{display:flex;align-items: center;margin:0px 0px 30px 0px;}
div#section_productDetail div.qty_wrapper>div:nth-child(1){font-weight:700;margin-right:10px;}
div#section_productDetail div.product_qty{display:inline-flex;;justify-content:space-between;align-items:center;overflow:hidden;border-radius:2px;}
div#section_productDetail div.product_qty{background:white;width:200px;;border:0.5px solid #b6b3b3;}
div#section_productDetail div.product_qty>div.btn_value{width:50px;text-align:center;cursor:pointer;}
div#section_productDetail div.product_qty>div.btn_value:hover{}
div#section_productDetail div.product_qty>input{background:transparent;border:0.5px solid #b6b3b3;border-top:0px;border-bottom:0px;}
div#section_productDetail div.product_qty>input{width:100px;text-align: center;}

div#section_productDetail div.groupCheer_wrapper{border:0.5px solid #b6b3b3;border-radius:5px;margin:0px 0px 30px 0px;}
div#section_productDetail div.groupCheer_wrapper>div.title{background:#797676;color:white;font-weight:700;border-bottom:0.5px solid #b6b3b3;padding:5px 10px;overflow:hidden;}
div#section_productDetail div.groupCheer_wrapper>div.title{display:flex;justify-content: space-between;}
div#section_productDetail div.groupCheer_wrapper>div.title>span:nth-child(2){font-size:0.85em;font-weight:100;cursor:pointer;}
div#section_productDetail div.groupCheer_wrapper>div.title>span:nth-child(2):hover{color:#cacaca;}

div#section_productDetail div.groupCheer_wrapper>div.info{}
div#section_productDetail div.groupC_list{display:flex;padding:5px 10px;border-bottom:0.5px solid #b6b3b3}
div#section_productDetail div.groupC_list{align-items:center;height:60px;}
div#section_productDetail div.groupC_list>div.gl_user_image{width:40px;height:40px;background:#ffbcbc;border-radius:25px;}
div#section_productDetail div.groupC_list>div.gl_user_image{margin-right:20px;}
div#section_productDetail div.groupC_list>div.gl_user_detail{width:200px;margin-right:70px;font-size:0.9em;}
div#section_productDetail div.groupC_list>div.gl_user_detail>div.gl_user_name{line-height: 1.3em;}
div#section_productDetail div.groupC_list>div.gl_user_detail>div.gl_countdown{color:#a4a4a4;font-size:0.85em;height: 1.3em;}
div#section_productDetail div.groupC_list>div.gl_message{}
div#section_productDetail div.groupC_list>div.gl_message>span.btn_join{background:#ff6b6b;color:white;padding:2px 5px;margin-left:10px;border-radius:3px;cursor:pointer}
div#section_productDetail div.groupC_list>div.gl_message>span.btn_join:hover{filter:brightness(150%);}

div#section_productDetail div.payment_btn_wrapper{display:flex;margin:0px 0px 30px 0px;}
div#section_productDetail div.payment_btn_wrapper>div.payment_btn{display:flex;justify-content:space-between;align-items:center;}
div#section_productDetail div.payment_btn_wrapper>div.payment_btn{width:160px;padding:5px 10px;font-size:1.5em;font-weight:500;border-radius:5px;cursor:pointer}
div#section_productDetail div.payment_btn_wrapper>div.payment_btn:hover{filter:brightness(150%);}
div#section_productDetail div.payment_btn_wrapper>div.payment_btn:nth-child(1){background:#828080;color:white;}
div#section_productDetail div.payment_btn_wrapper>div.payment_btn:nth-child(2){background:#f56666;color:white;margin-left:10px;}

div#section_productDetail div.btn_value{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

div#section_productDetail div.share_wrapper{display:flex}
div#section_productDetail div.share_wrapper{font-weight:300;}
div#section_productDetail div.share_wrapper>i{width:30px;line-height:30px;font-size:1.3em;text-align:center;border-radius: 25px;}
div#section_productDetail div.share_wrapper>i{margin-left:5px;color:white;}
div#section_productDetail div.share_wrapper>i{transition:0.2s ease;cursor:pointer}
div#section_productDetail div.share_wrapper>i:hover{transform:translate(0px,-10px);}
div#section_productDetail div.share_wrapper>i:nth-child(1){background:#4b9be7;}
div#section_productDetail div.share_wrapper>i:nth-child(2){background:#77a9f0;}
div#section_productDetail div.share_wrapper>i:nth-child(3){background:#ff635c;}
div#section_productDetail div.share_wrapper>i:nth-child(4){background:#7e7e7e;}
/**-------------------------------------------**/
div#section_productSpec{width:100%;}
div#section_productSpec>div.wrapper{background:white;}
div#section_productSpec div.section_content{font-weight:300;padding:10px;}
/**-------------------------------------------**/
div#section_productReview{width:100%;}
div#section_productReview>div.wrapper{background:white;}
div#section_productReview div.section_title{display:flex;}
div#section_productReview div.section_content{padding:10px;}
div#section_productReview div.section_content div.content_title_btn{display:flex;width:100%;border-bottom:5px solid #7385c8;}
div#section_productReview div.section_content div.content_title{ color:#cfcfcf;font-size:1.1em;font-weight:700;padding-right:20px;cursor:pointer;}
div#section_productReview div.section_content div.content_title:hover{color:#474747;}
div#section_productReview div.section_content div.content_title.active{color:#474747!important;}
div#section_productReview div.section_content div.noComment{text-align:center;color:#797777;font-weight:700;padding:30px;}

div#section_productReview div.content_block{padding-left:20px;}
div#section_productReview div.signle_comment{display:flex;padding:10px 0px;border-bottom:0.5px solid #f3f3f3;}
div#section_productReview div.signle_comment>div.user_image{width:40px;height:40px;background:#def3ff;border-radius:25px;margin-right:20px;}
div#section_productReview div.signle_comment>div.review_stat{margin-right:20px;}
div#section_productReview div.signle_comment>div.review_stat>div.review_rd{color:#8a8a8a;font-size:0.85em;font-weight:300;}
div#section_productReview div.signle_comment>div.review_stat>div.review_rd>span.review_rate{color:#ffc172;border-radius:3px;}
div#section_productReview div.signle_comment>div.review_comment{width:800px;background:#f8faff;font-size:0.9em;font-weight:300;padding:5px 10px;}
div#section_productReview div.content_block>div{display:none;}
div#section_productReview div.content_block>div.active{display:block!important;}
/**-------------------------------------------**/
div#section_productGuarantee{width:100%;}
div#section_productGuarantee>div.wrapper_mass{display:flex;background:white;}
div#section_productGuarantee div.section_content{font-weight:300;padding:10px;}
div#section_productGuarantee div.section_content span.des{font-weight:700;}
div#section_productGuarantee div.wrapper_mass>div.wrapper:nth-child(2){border-left:0.5px solid #f0f0f0;}
div#section_productGuarantee div.wrapper_mass>div.wrapper:nth-child(3){border-left:0.5px solid #f0f0f0;}
/**-------------------------------------------**/
div#section_productRelated{width:100%;}
div#section_productRelated>div.wrapper{background:white;}
div#section_productRelated div.section_content{display:flex;padding:5px 5px 10px 5px;}
div#section_productRelated div.section_content{justify-content:space-between;}
div#section_productRelated div.item_brick{width:210px;border-radius:3px;cursor:pointer;}
div#section_productRelated div.item_brick>a{text-decoration: none;}
div#section_productRelated div.item_brick>a>*{margin:3px auto;}
div#section_productRelated div.item_brick div.item_image{width:200px;height:200px;}
div#section_productRelated div.item_brick div.item_image{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  border:0.1px solid #f9f9f9;
}
div#section_productRelated div.item_brick div.item_info{margin-top:10px;}
div#section_productRelated div.item_brick div.item_bi{color:#8f8f8f;font-size:0.9em;font-weight:100;padding:0px 2px;}
div#section_productRelated div.item_brick div.item_name{font-weight:300;}
div#section_productRelated div.item_brick div.item_price{color:#fe7f7f;font-size:0.9em;font-weight:500;}
div#section_productRelated div.item_brick div.item_image{transition:0.5s ease;}
div#section_productRelated div.item_brick:hover{background:#f9f9f9}
/**-----------------------------------------**/
div#section_companyInfo{width:100%}
div#section_companyInfo>div.wrapper{background:white;}
div#section_companyInfo div.section_title{display:flex;}
div#section_companyInfo div.section_content{display:flex;justify-content: space-between;padding:10px;}
div#section_companyInfo div.wrapper_com{display:flex;align-items:center;}
div#section_companyInfo div.wrapper_com>div.company_image{width:90px;height:90px;background:#ebe2e2;border-radius:50%;}
div#section_companyInfo div.wrapper_com>div.company_binfo{margin-left:20px;}
div#section_companyInfo div.wrapper_com>div.company_binfo>div.company_name{font-size:1.2em;font-weight:700;}
div#section_companyInfo div.wrapper_com>div.company_binfo>a>div.action_btn{font-weight:100;background:#76acd1;color:white;text-align:center;border-radius:3px;cursor:pointer;}
div#section_companyInfo div.wrapper_com>div.company_binfo>a>div.action_btn:hover{background:#4a6ead;}

div#section_companyInfo div.company_stat{display:flex;align-items:center;}
div#section_companyInfo div.company_stat>*{margin:0px 30px;}
div#section_companyInfo div.company_stat>*{font-weight:700;}
div#section_companyInfo div.company_stat>*>span{font-weight:300;}


div#footer{background:#3f3f44;}
div#footer>div.wrapper{display:grid;grid-gap:60px;grid-template-columns:repeat(auto-fit,minmax(20%,2fr));margin:10px 220px 0px 220px;padding:30px 0px;}
div#footer div.card_col>div.subtitle{font-size:0.7em;font-weight:100;color:#fff;}
div#footer div.card_col>div.card_title{font-size:0.7em;color:#ffffff;}
div#footer div.card_col>div.card_item{margin-top:20px;}
div#footer div.card_col>div.card_item>a{font-size:0.7em;font-weight:100;color:#ffffff;}
div#footer div.card_col>div.card_item>a:hover{text-decoration:none;}
div#footer div.row_wrapper{display:flex;margin-top:20px;}
div#footer div.row_wrapper>div.payment_img{width:40px;margin-right:30px;}
div#footer div.row_wrapper>div.payment_img>img{width:100%;}
#dum{}
  div#loginBox div.wrapper_m{border-radius:4px;background:white;}
  div#loginBox div.wrapper_signup{position:relative;padding:10px 10px;}


  div#loginBox div.des{color:#949494;text-align:right;width:400px;margin:0px auto;}
  div#loginBox form{margin:10px 0px;}
  div#loginBox form>div.wrapper_row{width:400px;margin:0px auto 20px auto;}
  div#loginBox form>div.wrapper_row>input{display:block;width:400px;margin:0px auto;}
  div#loginBox form>div.wrapper_row>input.c_inputBox{background:#F7F5F2;padding:7px 15px;border:5px solid transparent;border-radius:5px;}
  div#loginBox form>div.wrapper_row>input.c_inputBox:focus{border:5px solid #9badd4;}
  div#loginBox form>div.wrapper_row>div.des{width:400px;color:#a2a0a0;font-size:0.85em;font-weight:500;margin:0px auto;}
  div#loginBox form>div.wrapper_row>button#btn_signin{position:relative;z-index:1;overflow:hidden;font-size:1.3em;font-weight:700;width:400px;background:#4f719d;padding:10px;color:white;border:none;border-radius:3px;display:block;margin:0px auto;}
  div#loginBox form>div.wrapper_row>button#btn_signin:hover{background:#1a2d61;}
  div#loginBox form>div.wrapper_row>button#btn_signin::before{content:'';position:absolute;left:0;bottom:0;background:pink;height:8px;width:100%;z-index:-1;transition:0.3s ease;}
  div#loginBox form>div.wrapper_row>button#btn_signin:hover::before{height:100%;background:#ff9258;}


  div#loginBox form>div.wrapper_row:last-child{margin-top:20px;}
  div#loginBox form>div.wrapper_row.wrapper_cpw{max-height:0px;overflow:hidden;margin:0px auto 0px auto;transition:0.5s ease;}
  div#loginBox form>div.wrapper_row.wrapper_cpw.active{max-height:200px;overflow:hidden;margin:0px auto 15px auto;}
  div#loginBox form>div.wrapper_row>a.hlink_forgetpw{color:#8c8c8c;font-size:0.9em;}
