*{box-sizing:border-box;}
*{font-family: 'Noto Sans TC', sans-serif;}
html,body{background:#f0f0f0;height:100%;}
/** Clean **/
button{cursor:pointer;}
button:focus {outline:none !important;}
/** Clean **/
.wrapper{margin:0px auto;width:1100px;}
.wrapper_m{margin:50px auto;width:500px;}
.wrapper_mm{margin:50px auto;width:600px;}
.wrapper_flex_full{display:flex;justify-content:space-between;align-items:center;}
.wrapper_flex_vert{display:flex;align-items:center;}
.wrapper_flex_hori{display:flex;justify-content:space-between;}
.wrapper>div.section_title{color:#939393;font-weight:100;padding:10px;border-bottom:0.5px solid #f0f0f0;}
.section_block{margin:10px 0px 20px 0px;}
/*--------------------------------------------------------------*/
.shawdow001{
  -webkit-box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.3);
}
/*--------------------------------------------------------------*/
#sticky_meun{position:fixed;top:0;margin-left: auto;margin-right: auto;left: 0;right: 0;z-index:99;}
#sticky_meun{background:#f0f0f0}
#position_content{position:relative;margin-top:160px;}
/*--------------------------------------------------------------*/
div#position_nav{
  background: rgb(51,101,166);
  background: linear-gradient(180deg, rgba(51,101,166,1) 0%, rgba(59,190,190,1) 100%);
}

div#navigation{width:100%;height:30px;}
div#navigation>div.wrapper{height:inherit;color:white;}
div#navigation div.wrapper_left,div#navigation div.wrapper_right{display:flex;font-size:0.85em;font-weight:300;padding:5px 0px;}

div#navigation div.wrapper_left>div.meun_language{background:#254a7a;color:white;padding:0px 3px;border-radius:3px;cursor:pointer;}
div#navigation div.wrapper_left>div.wrapper_redirect>a.btn_redirect{color:#fff;margin:0px 5px;}
div#navigation div.wrapper_left>div.wrapper_media{margin-left:5px;padding-left:10px;border-left:0.5px solid#c8c8c8;}
div#navigation div.wrapper_left>div.wrapper_media>a.btn_media{color:#fff;margin-right:10px;cursor:pointer;}
div#navigation div.wrapper_left>div.wrapper_media>a.btn_media:hover{color:#ffaa79;}
div#navigation div.wrapper_right>div.wrapper_action{display:flex;}

div#navigation div.wrapper_right>div.wrapper_action>a.btn_action{color:white;margin:0px 5px;cursor:pointer;}
div#navigation div.wrapper_right>div.wrapper_user{margin-right:10px;cursor:pointer;}
div#navigation div.wrapper_right>div.wrapper_user>div.user_icon{background:#ffd586;width:20px;height:20px;border-radius:25px;margin-right:5px;}
div#navigation div.wrapper_right>div.wrapper_user>div.user_name{font-weight:500;}
div#navigation div.wrapper_right>div.wrapper_redirect{padding:0px 10px;border-left:0.5px solid #2a5389;border-right:0.5px solid #2a5389;}
div#navigation div.wrapper_right>div.wrapper_redirect>a.btn_redirect{color:white;text-decoration:none;padding:0px 5px;transition:0.1s ease;cursor:pointer}
div#navigation div.wrapper_right>div.wrapper_redirect>a.btn_redirect:hover{background:white;color:#3365a6;border-radius:5px;}
div#navigation div.wrapper_right>div.wrapper_redirect>a.btn_redirect>i{margin-right:10px;}
div#navigation div.wrapper_right>div.wrapper_function{padding:0px 10px;}
div#navigation div.wrapper_right>div.wrapper_function>div.btn_noti{width:25px;line-height:25px;text-align:center;}
div#navigation div.wrapper_right>div.wrapper_function>div.btn_noti>i{cursor:pointer;}
div#navigation div.wrapper_right>div.wrapper_function>div.btn_noti:hover{background:#fff;color:#3365a6;border-radius:5px;}
div#navigation div.wrapper_right>div.wrapper_function>div.btn_noti:not(:first-child){margin-left:5px;}
div#navigation div.btn_noti{position:relative;}
div#navigation div.btn_noti>div.meun_dropdown.active{display:block;}
div#navigation div.btn_noti>div.meun_dropdown{display:none;overflow-y:auto;;position:absolute;right:0px;width:400px;height:600px;text-align:left;background:white;color:#000;z-index:99;border:0.5px solid #aeaeae;border-radius:3px;}
div#navigation div.btn_noti>div.meun_dropdown>div.wrapper_row_switch_tap{display:flex;border-bottom:1px solid #aeaeae;padding:5px 5px 0px 5px;}
div#navigation div.wrapper_row_switch_tap>div.switch_tap{width:50px;text-align:center;border-bottom:5px solid transparent;margin-right:4px;cursor:pointer;}
div#navigation div.wrapper_row_switch_tap>div.switch_tap.active{border-bottom:5px solid #ff6258;}
div#navigation div.wrapper_row_switch_tap>div.switch_tap:hover{border-bottom:5px solid #ff6258;}
div#navigation div.wrapper_notidiff_section{display:none;}
div#navigation div.wrapper_notidiff_section.active{display:block;}
div#navigation div.wrapper_noti_section{margin-bottom:10px;}
div#navigation div.wrapper_noti_section>div.headline{background:#f7f7f7;color:#4b4b4b;font-weight:500;padding:2px 5px;border-bottom:1px solid #aeaeae;}
div#navigation div.wrapper_noti_section:not(:first-child)>div.headline{border-top:1px solid #aeaeae;}
div#navigation div.wrapper_noti_p_section{margin-bottom:10px;}
div#navigation div.wrapper_noti_p_section>div.headline{background:#a2beab;color:#4d554f;font-weight:500;padding:2px 5px;border-bottom:1px solid #aeaeae;}
div#navigation div.wrapper_noti_p_section:not(:first-child)>div.headline{border-top:1px solid #aeaeae;}


div#navigation div.wrapper_row_noti_row{display:flex;align-items:center;padding:7px;border-bottom:0.5px solid #aeaeae;cursor:pointer;}
div#navigation div.wrapper_row_noti_row>div.noti_user_info_image{margin-right:7px;}
div#navigation div.wrapper_row_noti_row>div.noti_user_info_image>div{background:#c9c9dc;width:50px;height:50px;border-radius:25px;}
div#navigation div.wrapper_row_noti_row>div.noti_content>{}
div#navigation div.wrapper_row_noti_row>div.noti_content>a{color:black;font-weight:600;}
div#navigation div.wrapper_row_noti_row>div.noti_btns{margin-left:auto;}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti{padding:0px 5px;border:none;}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti:active{}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti.btn_in_noti_accept{background:#1a64c2;color:white;border-radius:3px;}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti.btn_in_noti_accept:hover{background:#1854a1;}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti.btn_in_noti_view{background:#1a64c2;color:white;border-radius:3px;}
div#navigation div.wrapper_row_noti_row>div.noti_btns>button.btn_in_noti.btn_in_noti_view:hover{background:#1854a1;}

div#navigation div.wrapper_row_noti_p_row>div.noti_p_btns{margin-left:auto;}
div#navigation div.wrapper_row_noti_p_row>div.noti_p_btns>button.btn_in_noti_p{padding:0px 5px;border:none;}
div#navigation div.wrapper_row_noti_p_row>div.noti_p_btns>button.btn_in_noti_p:active{}
div#navigation div.wrapper_row_noti_p_row>div.noti_p_btns>button.btn_in_noti_p.btn_in_noti_p_view{background:#1a64c2;color:white;border-radius:3px;}
div#navigation div.wrapper_row_noti_p_row>div.noti_p_btns>button.btn_in_noti_p.btn_in_noti_p_view:hover{background:#1854a1;}


div#navigation div.wrapper_row_noti_p_row{display:flex;align-items:center;padding:7px;border-bottom:0.5px solid #aeaeae;cursor:pointer;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_info_image{width:50px;height:50px;margin-right:7px;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_info_image>div{width:50px;height:50px;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_info_image>div{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  border:0.1px solid #f9f9f9;
}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_content{}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_content a.noti_product_name{color:black;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_content>div.noti_product_numofgroup{display:inline-block;background:#e86666;color:white;font-size:0.9em;padding:0px 10px;border-radius:3px;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_content>div.noti_product_orderNo{display:inline-block;background:#57759d;color:white;font-size:0.9em;padding:0px 10px;border-radius:3px;}
div#navigation div.wrapper_row_noti_p_row>div.noti_product_content>div.noti_product_orderStatus{display:inline-block;color:#476853;font-size:0.9em;padding:0px 5px;}

/*---*/
div#searchBar{width:100%;height:80px;}
div#searchBar div.wrapper{height:inherit;color:white;}
div#searchBar div.wrapper_left{width:200px;}
div#searchBar div.wrapper_left>a{width:inherit;}
div#searchBar div.wrapper_left>a>img{width:inherit;}
div#searchBar div.wrapper_right>div.wrapper_input{background:white;border:1px solid #EAEAEA;border-bottom:none;border-radius:3px}
div#searchBar div.wrapper_right>div.wrapper_input.showing{border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
div#searchBar div.wrapper_right>div.wrapper_input>div.wrapper_ip{width:600px;height:40px;padding:3px 3px;border-radius:3px;overflow:hidden;}
div#searchBar div.wrapper_right>div.wrapper_input input{width:540px;border:none;}
div#searchBar div.wrapper_right>div.wrapper_input input::placeholder{color:#000;font-size:0.85em;}
div#searchBar div.wrapper_right>div.wrapper_input button{width:60px;font-size:0.9em;font-weight:700;border-color:transparent;transition:0.2s ease;}
div#searchBar div.wrapper_right>div.wrapper_input button:hover{background:#6f8cca;color:white;border-radius:3px;}

div#searchBar div.wrapper_right>div.wrapper_input{position:relative;}
div#searchBar div.wrapper_right>div.wrapper_input>div.wrapper_input_autofill{display:none;position:absolute;z-index:99;background:#fff;width:600px;color:#000;border:1px solid #EAEAEA;padding:10px;}
div#searchBar div.wrapper_right>div.wrapper_input>div.wrapper_input_autofill>div.wrapper_subsection{font-size:0.85em;font-weight:100;margin-bottom:10px;}
div#searchBar div.wrapper_right>div.wrapper_input>div.wrapper_input_autofill>div.wrapper_subsection>div.subsection_title{font-weight:500;color:#556b89;}
div#searchBar div.wrapper_right>div.wrapper_input>div.wrapper_input_autofill>div.wrapper_subsection>div.subsection_item{margin-left:20px;}
div#searchBar div.wrapper_subsection_itemwrapper{display:flex;}
div#searchBar div.subsection_item_brick{display:flex;width:260px;margin-right:10px;}
div#searchBar div.subsection_item_brick>div.o_productPic{margin-right:25px;}
div#searchBar div.subsection_item_brick>div.o_productPic>div.o_pd_image{width:50px;height:50px;}
div#searchBar div.subsection_item_brick>div.o_productPic>div.o_pd_image{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  border:0.1px solid #f9f9f9;
}
/*--------------------------------------------------------------*/
div#section_setupprofileBox{min-height:500px;}
div#section_setupprofileBox div.wrapper_m{border-radius:4px;background:white;}
div#section_setupprofileBox div.wrapper_signup{position:relative;padding:10px 10px;}
div#section_setupprofileBox div.wrapper_signup>div.logo_div{width:200px;margin:0 auto;}
div#section_setupprofileBox div.wrapper_signup>div.logo_div>img{width:100%;}

div#section_setupprofileBox div.wrapper_signup>div.headline{width:400px;display:flex;justify-content:space-between;align-items:baseline;;margin:0px auto;}
div#section_setupprofileBox div.wrapper_signup>div.headline>div.subtitle{color:#696969;font-size:1.6em;font-weight:700;}
div#section_setupprofileBox div.wrapper_signup>div.headline>div.des{color:#696969;font-size:0.85em;}
div#section_setupprofileBox div.wrapper_signup>div.headline>div.des>a{color:#}


div#section_setupprofileBox div.wrapper_signup>form{margin:10px 0px;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row{margin:0px auto 15px auto;}
div#section_setupprofileBox div.wrapper_signup>form div.wrapper_imageupload{margin:0 auto;background:#5d5353;color:white;width:120px;line-height:120px;text-align:center;border-radius:100px;cursor:pointer;}
div#section_setupprofileBox div.wrapper_signup>form div.wrapper_imageupload:hover{background:#463a3a;}

div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row>input{display:block;width:400px;margin:0px auto;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row>input.c_inputBox{background:#F7F5F2;padding:7px 15px;border:5px solid transparent;border-radius:5px;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row>input.c_inputBox:focus{border:5px solid #9badd4;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row>select{display:block;width:400px;margin:0px auto;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row>select{background:#F7F5F2;color:#727170;padding:7px 15px;border:5px solid transparent;border-radius:5px;}

div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row_m{display:flex;justify-content:space-between;width:400px;margin:0px auto 15px auto;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row_m>input.c_inputBox_d{display:inline-block;width:195px;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row_m>input.c_inputBox_d{background:#F7F5F2;padding:7px 15px;border:5px solid transparent;border-radius:5px;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row_m>input.c_inputBox_d:focus{border:5px solid #9badd4;}

div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row_mix{display:flex;align-items:center;width:400px;margin:0px auto 15px auto;;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row_mix{background:#F7F5F2;padding:7px 15px;border:5px solid transparent;border-radius:5px;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row_mix>div{width:50px;margin-right:2px;color:#929292;font-weight:700;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row_mix>input.c_inner_inputBox{width:190px;background:transparent;border:none;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row_mix>button{width:150px;background:#4f719d;color:white;border:none;border-radius:3px;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row_mix>button:active{background:#375781;padding:0px;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row_mix>button.disabled{background:#486684;color:#7d868f;pointer-events: none;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row>div.des{width:400px;color:#a2a0a0;font-size:0.85em;font-weight:500;margin:0px auto;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row>button#btn_signin{position:relative;z-index:1;overflow:hidden;font-size:1.3em;font-weight:700;width:400px;background:#4f719d;padding:10px;color:white;border:none;border-radius:3px;display:block;margin:0px auto;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row>button#btn_signin:hover{background:#1a2d61;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row>button#btn_signin::before{content:'';position:absolute;left:0;bottom:0;background:pink;height:8px;width:100%;z-index:-1;transition:1s ease;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row>button#btn_signin:hover::before{height:100%;background:#ff9258;}

div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row>button#btn_next{position:relative;z-index:1;overflow:hidden;font-size:1.3em;font-weight:700;width:400px;background:#42a849;padding:10px;color:white;border:none;border-radius:3px;display:block;margin:0px auto;transition:0.5s ease}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row>button#btn_next:hover{background:#3c9271;}

div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row:last-child{margin-top:20px;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row.wrapper_cpw{max-height:0px;overflow:hidden;margin:0px auto 0px auto;transition:0.5s ease;}
div#section_setupprofileBox div.wrapper_signup>form>div.wrapper_row.wrapper_cpw.active{max-height:200px;overflow:hidden;margin:0px auto 15px auto;}
/*-------------------------*/
div#section_setupprofileBox div.wrapper_mm{border-radius:4px;background:white;}
div#section_setupprofileBox div.wrapper_interest{padding:10px;}
div#section_setupprofileBox div.wrapper_interest>div.headline{text-align:center;}
div#section_setupprofileBox div.wrapper_interest>div.headline>div.subtitle{font-size:1.3em;font-weight:700;}
div#section_setupprofileBox div.wrapper_interest>div.headline>div.des{font-size:0.9em;font-weight:100;}

div#section_setupprofileBox div.wrapper_interest_content{display:grid;grid-gap:10px;grid-template-columns:repeat(auto-fit,minmax(23%,2fr));padding:10px;}
div#section_setupprofileBox div.brick_interest{padding:5px;border-radius:5px;cursor:pointer;}
div#section_setupprofileBox div.brick_interest:hover{background:#fafafa;}
div#section_setupprofileBox div.brick_interest.active{background:#eef3fd;}
div#section_setupprofileBox div.brick_interest>*{margin:0px auto;}
div#section_setupprofileBox div.brick_interest>div.interest_image{width:70px;height:70px;background:pink;border-radius:50px;}
div#section_setupprofileBox div.brick_interest>div.interest_title{text-align:center;font-weight:500;font-size:0.95em;margin-top:20px;}

div#section_setupprofileBox div.wrapper_interest{}
div#section_setupprofileBox div.wrapper_interest>div.wrapper_row{margin:10px auto 15px auto;}
div#section_setupprofileBox div.wrapper_interest>div.wrapper_row>button#btn_complete{position:relative;z-index:1;overflow:hidden;font-size:1.3em;font-weight:700;width:400px;background:#4f719d;padding:10px;color:white;border:none;border-radius:3px;display:block;margin:0px auto;}
div#section_setupprofileBox div.wrapper_interest>div.wrapper_row>button#btn_complete:hover{background:#1a2d61;}
div#section_setupprofileBox div.wrapper_interest>div.wrapper_row>button#btn_complete::before{content:'';position:absolute;left:0;bottom:0;background:pink;height:8px;width:100%;z-index:-1;transition:0.5s ease;}
div#section_setupprofileBox div.wrapper_interest>div.wrapper_row>button#btn_complete:hover::before{height:100%;background:#ff9258;}

div#footer{background:#3f3f44;}
div#footer>div.wrapper{display:grid;grid-gap:60px;grid-template-columns:repeat(auto-fit,minmax(20%,2fr));margin:10px 220px 0px 220px;padding:30px 0px;}
div#footer div.card_col>div.subtitle{font-size:0.7em;font-weight:100;color:#fff;}
div#footer div.card_col>div.card_title{font-size:0.7em;color:#ffffff;}
div#footer div.card_col>div.card_item{margin-top:20px;}
div#footer div.card_col>div.card_item>a{font-size:0.7em;font-weight:100;color:#ffffff;}
div#footer div.card_col>div.card_item>a:hover{text-decoration:none;}
div#footer div.row_wrapper{display:flex;margin-top:20px;}
div#footer div.row_wrapper>div.payment_img{width:40px;margin-right:30px;}
div#footer div.row_wrapper>div.payment_img>img{width:100%;}
#dum{}
