<script>
  $(document).ready(function(){
    $('div#btn_wall_wishlist').on('click',function(){
      $('div.wrapper_wall_item').removeClass('active');
      $('div#block_wishlist').addClass('active');
    });
    $('div#btn_wall_post').on('click',function(){
      $('div.wrapper_wall_item').removeClass('active');
      $('div#block_product_reviews').addClass('active');
    });
  });
</script>
<body>
  <div id='section_wall'>
    <div
    <div class='wrapper'>
      <div class='section_title'></div>
      <div class='section_content'>
        <div class='profile_cover'><div></div></div>
        <div class='wrapper_flex'>
          <div class='wrapper_left'>
            <div class='wrapper_col_userInfo'>
              <div class='wrapper_user_basicInfo'>
                <div class='userInfo_proPic'><div id='oo'></div></div>
                <div class='wrapper_usernameAbtn'>
                  <div>
                    <div class='userInfo_username'>peterparker</div>
                    <div class='userInfo_displayname'>Spider Man</div>
                  </div>
                </div>
                <div class='wrapper_btns'>
                  <div class='btn_link'><div class='active'>Link</div></div>
                  <div class='btn_message'><i class="fas fa-envelope"></i></div>
                </div>
                <div class='user_profile_des'>
                  <div class='des'>根友原！沒名全始然手面地英關需，親利血慢是視到斯法、國此名下男第了有育多解銀媽我源想。華念校上，工呢用自生就代陸看說以。

輪張不，非不覺，廣位腦如一事謝見回來係下雄興絕毒的。</div>
                  <div class='btn_more'>更多...</div>
                </div>
              </div>
              <div class='user_relatedStat'>
                <div class='wrapper_row'><div class='des'>Linkers</div><div class='num'>77</div></div>
                <div class='wrapper_row'><div class='des'>Linking</div><div class='num'>128</div></div>
                <div class='wrapper_row'><div class='des'>產品評價</div><div class='num'>53</div></div>
              </div>
              <div class='user_performanceStat'>
                <div class='subtitle'>Performance</div>
                <div class='wrapper_row'><div class='des'>Campaign</div><div class='num'>77</div></div>
                <div class='wrapper_row'><div class='des'>Influential Power</div><div class='num'>128</div></div>
                <div class='wrapper_row'><div class='des'>Collaborating Brand</div><div class='num'>53</div></div>
                <div class='wrapper_row'><div class='des'>Brand Rating</div><div class='num'>53</div></div>
                <div class='wrapper_row'><div class='des'>Total Like</div><div class='num'>53</div></div>
                <div class='btn_more'>更多...</div>
              </div>
            </div>
          </div>
          <div class='wrapper_right'>
            <div class='wrapper_wall_switch_display'>
              <div class='btn_swtich_display btn_switch active' id='btn_wall_post'>貼文</div>
              <div class='btn_swtich_display btn_switch' id='btn_wall_wishlist'>願望清單</div>
            </div>
            <div class='wrapper_wall_display wrapper_wall_item active' id='block_product_reviews'>
              <div class='subtitle'></div>
              <div class='wrapper_review_list'>
                <div class='wrapper_review'>
                  <div class='review_preview_img'></div>
                </div>
                <div class='wrapper_review'>
                  <div class='review_preview_img demoImg'></div>
                </div>
                <div class='wrapper_review'>
                  <div class='review_preview_img demoImg'></div>
                </div>
                <div class='wrapper_review'>
                    <div class='review_preview_img demoImg'></div>
                </div>
                <div class='wrapper_review'>
                    <div class='review_preview_img demoImg'></div>
                </div>
                <div class='wrapper_review'>
                    <div class='review_preview_img demoImg'></div>
                </div>
                <div class='wrapper_review'>
                    <div class='review_preview_img demoImg'></div>
                </div>
                <div class='wrapper_review'>
                    <div class='review_preview_img demoImg'></div>
                </div>
                <div class='wrapper_review'>
                    <div class='review_preview_img demoImg'></div>
                </div>
                <div class='wrapper_review'>
                    <div class='review_preview_img demoImg'></div>
                </div>
              </div>
            </div>
            <div class='wrapper_wall_wishlist wrapper_wall_item' id='block_wishlist'>
              <div class='subtitle'></div>
              <div class='wrapper_wishlist_list'>
                <div class='wrapper_wishlist'>
                  <div class='wishlist_preview_img'><i class="fas fa-heart"></i></div>
                </div>
                <div class='wrapper_wishlist'>
                  <div class='wishlist_preview_img demoImg'><i class="fas fa-heart"></i></div>
                </div>
                <div class='wrapper_wishlist'>
                  <div class='wishlist_preview_img demoImg'><i class="fas fa-heart"></i></div>
                </div>
                <div class='wrapper_wishlist'>
                    <div class='wishlist_preview_img demoImg'><i class="fas fa-heart"></i></div>
                </div>
                <div class='wrapper_wishlist'>
                    <div class='wishlist_preview_img demoImg'><i class="fas fa-heart"></i></div>
                </div>
                <div class='wrapper_wishlist'>
                    <div class='wishlist_preview_img demoImg'><i class="fas fa-heart"></i></div>
                </div>
                <div class='wrapper_wishlist'>
                    <div class='wishlist_preview_img demoImg'><i class="fas fa-heart"></i></div>
                </div>
                <div class='wrapper_wishlist'>
                    <div class='wishlist_preview_img demoImg'><i class="fas fa-heart"></i></div>
                </div>
                <div class='wrapper_wishlist'>
                    <div class='wishlist_preview_img demoImg'><i class="fas fa-heart"></i></div>
                </div>
                <div class='wrapper_wishlist'>
                    <div class='wishlist_preview_img demoImg'><i class="fas fa-heart"></i></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
