<script>
  $(document).ready(function(){});
</script>
<body>
  <div id='section_brandDetail'>
    <div class='breadcrumbs'>
      <a href=''>食品及飲料</a> > <a href=''>零食<a/> > <a href=''>有機食品</a>
    </div>
    <div class='wrapper'>
      <div class='section_content'>
        <div class='wrapper_left'>
          <div class='wrapper_brandInfo'>
            <div class='brand_profilePic'><div class='main_image' style='background-image:url("image/001.jpg")'></div></div>
            <div class='wrapper_nameAbtn'>
              <div class='brand_name'>太陽牌</div>
              <div class='wrapper_btn'>
                <div class='btn_link btn_acts'><i class="fas fa-plus"></i> Link</div>
                <div class='btn_message btn_acts'><i class="fas fa-envelope"> 訊息</i></div>
              </div>
              <div class='wrapper_brandStat'>
                <div class='wrapper_col'>
                  <div class='brand_linkers'>Linker: <span>0</span></div>
                  <div class='brand_productQuantity'>產品數量: <span>231</span></div>
                </div>
                <div class='wrapper_col'>
                  <div class='brand_linking'>Linking: <span>0</span></div>
                  <div class='brand_startTime'>加入時間: <span>2個月</span></div>
                </div>
              </div>
            </div>
            <div class='brand_about'>
              <div class='subtitle'>關於我們</div>
              <div class='about_content'>給兒不太花賽也無什部看機土得市度；一廠一商。專子只黨來角明半邊能看到學眾長來。

便想來民夜麗何文經此；花平氣。那我會好城務廠己。中了不市知傳局日有都制禮進空前走，文來學絕是相這解助語年口！使省未，可東性前本？你環作，由一乎這海時國品係；白三房次院，部家影務也自關去公告次？
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='wrapper_right'>
      <div class='btn_brand_swtich_option active'>首頁</div>
      <div class='btn_brand_swtich_option'>所有商品</div>
      <div class='btn_brand_swtich_option'>獨家熱賣</div>
      <div class='btn_brand_swtich_option'>夏日必備</div>
      <div class='btn_brand_swtich_option'>日本精選</div>
    </div>
  </div>
</body>
