<script>
  $(document).ready(function(){});
</script>
<body>
  <div id='section_brandCust'>
    <div class='wrapper'>
      <div class='section_title'>獨家熱賣</div>
      <div class='wrapper_item wrapper_flex_hori'>
        <div class='brick_item'>
          <div class='item_image'></div>
          <div class='item_info'>
            <div class='item_name'>[期間限定] 挪威三文魚</div>
            <div class='item_price'>HKD 30.00</div>
          </div>
        </div>
        <div class='brick_item'>
          <div class='item_image'></div>
          <div class='item_info'>
            <div class='item_name'>[期間限定] 挪威三文魚</div>
            <div class='item_price'>HKD 30.00</div>
          </div>
        </div>
        <div class='brick_item'>
          <div class='item_image'></div>
          <div class='item_info'>
            <div class='item_name'>[期間限定] 挪威三文魚</div>
            <div class='item_price'>HKD 30.00</div>
          </div>
        </div>
        <div class='brick_item'>
          <div class='item_image'></div>
          <div class='item_info'>
            <div class='item_name'>[期間限定] 挪威三文魚</div>
            <div class='item_price'>HKD 30.00</div>
          </div>
        </div>
        <div class='brick_item'>
          <div class='item_image'></div>
          <div class='item_info'>
            <div class='item_name'>[期間限定] 挪威三文魚</div>
            <div class='item_price'>HKD 30.00</div>
          </div>
        </div>
        <div class='brick_item'>
          <div class='item_image'></div>
          <div class='item_info'>
            <div class='item_name'>[期間限定] 挪威三文魚</div>
            <div class='item_price'>HKD 30.00</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
