<script>
  $(document).ready(function(){
    $('div.location_pt').on('click',function(){
      $('div.location_pt').removeClass('active');
      $(this).addClass('active');
    });
    $('div.option_shipping').on('click',function(){
      $('div.option_shipping').removeClass('active');
      $('div.option_shipping').addClass('noselected')
      $(this).removeClass('noselected').addClass('active');

      const target=$(this).attr('id').replace('sb','so');
      $('div.shipping_select_wrapper').removeClass('active');
      switch(target){
        case'so_1': $('#'+target).toggleClass('active');break;
        case'so_2': $('#'+target).toggleClass('active');break;
        case'so_3': $('#'+target).toggleClass('active');break;
        default:    break;
      }
      $('#'+target+' div.block_shippingSelect').addClass('active');

    });
    $('div.radio_wrapper').on('click',function(){
      $(this).toggleClass('clicked');
    });
    $('div.headLine').on('click',function(){
      $('div.shipping_select_wrapper').removeClass('active');
    });
    $('div.brick_location').on('click',function(){
      $('div.brick_location').removeClass('selected');
      $(this).addClass('selected');
    });
    $('div.btn_l_c').on('click',function(){
      $('div.shipping_select_wrapper').removeClass('active');
    });
    $('div#btn_locationConfirm').on('click',function(){
      const temp_region=$('input#location_region').val();
      const temp_district=$('input#location_district').val();
      const temp_street=$('input#location_street').val();
      const temp_streetNo=$('input#location_streetNo').val();
      const temp_estate=$('input#location_estate').val();
      const temp_phase=$('input#location_phase').val();
      const temp_building=$('input#location_building').val();
      const temp_floor=$('input#location_floor').val();
      const temp_unit=$('input#location_unit').val();

      let temp_location=temp_region+'<br/>'+temp_district+' '+temp_street+' '+temp_streetNo+'<br/>';
      temp_location+=temp_estate+' '+temp_phase+' '+temp_building+' '+temp_floor+' '+temp_unit;
      $('div.shipping_select_wrapper').removeClass('active');
      $('div.location_toprint').html(temp_location);
      $('div.shipping_location').addClass('filled');
    });
    $('div#btn_pulocationConfirm').on('click',function(){
      $('div.shipping_select_wrapper').removeClass('active');
      $('div.location_toprint').html('紅磡鶴園街2號G恆豐工業大厦二期D2座地下');
      $('div.shipping_location').addClass('filled');
    });
    $('div#btn_oklocationConfirm').on('click',function(){
      $('div.shipping_select_wrapper').removeClass('active');
      $('div.location_toprint').html('紅磡鶴園街2號G恆豐工業大厦二期D2座地下');
      $('div.shipping_location').addClass('filled');
    });
    $('div.btn_value').on('click',function(){
      const updatePrice=()=>{
        let price_single=parseInt($('.pd_price').html());
        let qty=parseInt(document.getElementById('input_qty').value);
        $('.pd_total').html((price_single*qty).toFixed(2));
      }
      const updateValue=(option)=>{
        var value=parseInt(document.getElementById('input_qty').value);
        switch(option){
          case'increase': value++;;break;
          case'reduce':   value>0?value--:value=0;break;
          default:        break;
        }
        document.getElementById('input_qty').value=value;
        updatePrice();
        if(document.getElementById('input_qty').value==0){
          $('div.product_wrapper').addClass('warning');
        }else{
          $('div.product_wrapper').removeClass('warning');
        }
      }
      switch($(this).attr('id')){
        case'btn_value_increase': updateValue('increase');break;
        case'btn_value_reduce': updateValue('reduce');break;
        default: break;
      }
    });
    $('input#input_qty').on('change',function(){
      const updatePrice=()=>{
        let price_single=parseInt($('.pd_price').html());
        let qty=parseInt(document.getElementById('input_qty').value);
        $('.pd_total').html((price_single*qty).toFixed(2));
      }
      updatePrice();
    });
    const onReady_price=()=>{
      let price_single=parseInt($('.pd_price').html());
      let qty=parseInt(document.getElementById('input_qty').value);
      $('.pd_price').html(price_single.toFixed(2));
      $('.pd_total').html((price_single*qty).toFixed(2));
    }
    onReady_price();
  });
</script>
<div id='checkoutContent_section'>
  <div class='breadcrumbs'>
    <a href=''>我的訂單</a> > <a href=''>結帳</a>
  </div>
  <div class='wrapper'>
    <div class='section_title'>
      結帳 Checkout
    </div>
    <div class='section_content'>
      <div class='left_wrapper'>
        <div class='wrapper_buyerInfo wrapper_sec'>
          <div class='subTitle'>賣家資料</div>
          <div class='block_buyerInfo block_content'>
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="b_fname">名字</label>
                  <input type="text" class="form-control" id="b_fname" placeholder="名字">
                </div>
                <div class="form-group col-md-6">
                  <label for="b_lname">姓氏</label>
                  <input type="text" class="form-control" id="b_lname" placeholder="姓氏">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="b_phone">電話號碼</label>
                  <input type="text" class="form-control" id="b_phone" placeholder="電話號碼">
                </div>
                <div class="form-group col-md-6">
                  <label for="b_email">電郵</label>
                  <input type="text" class="form-control" id="b_email" placeholder="電郵">
                </div>
              </div>
              <div class="form-group">
                <label for="b_remark">備註</label>
                <input type="text" class="form-control" id="b_remark" placeholder="備註"/>
              </div>
            </form>
          </div>
        </div>
        <div class='wrapper_productList wrapper_sec'>
          <div class='subTitle'>產品資料</div>
          <div class='block_product_list block_content'>
            <div class='list_header' style='display:none;'>
              <div class='list_hd'></div>
              <div class='list_hd'>產品</div>
              <div class='list_hd'>數量</div>
              <div class='list_hd'>總數</div>
            </div>
            <div class='product_list'>
              <div class='product_wrapper'>
                <div class='pd_detail pd_image'><div class='pd_image2' style='background-image:url("image/001.jpg")'></div></div>
                <div class='pd_detail pd_info'>
                  <a href=''><span class='pd_brand'>太陽牌</span> - <span class='pd_name'>夏威夷黑糖[70周年特別版]</span></a>
                  <div class='pd_price'>88</div>
                </div>
                <div class='pd_detail pd_qty'>
                  <div class='wrapper_qty'>
                    <div class='btn_value' id='btn_value_reduce'>-</div>
                    <input type='text' id='input_qty' value='1'>
                    <div class='btn_value' id='btn_value_increase'>+</div>
                  </div>
                </div>
                <div class='pd_detail pd_total'></div>
              </div>
            </div>
            <button id='backShopping'>繼續購物<i class="fas fa-shopping-cart"></i></button>
          </div>
        </div>
      </div>
      <div class='right_wrapper'>
        <div class='wrapper_orderInfo wrapper_sec'>
          <div class='subTitle'>訂單資料</div>
          <div class='block_orderInfo block_content'>
            <div class='row_orderInfo'><span>總數</span> <span class='order_price_T'>99.00</span></div>
            <div class='row_orderInfo'><span>節省</span> <span class='order_price_C'>20.00</span></div>
            <div class='row_orderInfo'><span>運費</span> <span class='order_price_S'>免費</span></div>
            <div class='row_orderInfo'><span>累計總數</span> <span class='order_price_TT'>99.00</span></div>
          </div>
        </div>
        <div class='wrapper_orderInfo2 wrapper_sec' style='display:none;'>
          <div class='subTitle'>訂單資料</div>
          <div class='block_orderInfo block_content'>
            <div class='row_orderInfo'><span>總數</span> <span class='order_price_T'>99.00</span></div>
            <div class='row_orderInfo'><span>節省</span> <span class='order_price_C'>20.00</span></div>
            <div class='row_orderInfo'><span>運費</span> <span class='order_price_S'>免費</span></div>
            <div class='row_orderInfo'><span>累計總數</span> <span class='order_price_TT'>99.00</span></div>
          </div>
        </div>

        <div class='wrapper_shipping wrapper_sec'>
          <div class='subTitle'><span>送貨方式</span><span>條款細則 <i class="fas fa-exclamation-circle"></i></span></div>
          <div class='block_shipping block_content'>
            <div class='option_wrapper'>
              <div class='option_shipping' id='sb_1'>自取點<div>(滿$200免費)</div></div>
              <div class='option_shipping' id='sb_2'>OK便利店<div>(滿$50免費)</div></div>
              <div class='option_shipping' id='sb_3'>上門<div>(滿$300免費)</div></div>
            </div>
          </div>
          <div class='shipping_location block_content'>
            <div class='subTitle' style='display:none;'>已輸入以下地址:</div>
            <div class='location_toprint'></div>
          </div>
          <div class='shipping_info' style='display:none;'>
            <a href=''><div class='shipping_info_row'>自取點地點一覽及自取安排</div></a>
            <a href=''><div class='shipping_info_row'>OK便利店地點一覽及取貨安排</div></a>
            <a href=''><div class='shipping_info_row'>上門送貨需知</div></a>
          </div>
        </div>
        <div class='wrapper_payment wrapper_sec'>
          <div class='subTitle'>付款方式</div>
          <div class='block_payment block_content'>
            <div class='row_discountCode row_payment'>
              <div class='row_title'>折扣碼</div>
              <div class='input_wrapper'>
                <i class="fas fa-key"></i>
                <input type='text' placeholder='10位數折扣碼' maxlength="10"/><button>檢查折扣碼</button>
              </div>
            </div>
            <div class='row_post row_payment'>
              <div class='row_title'>出post</div>
              <div class='row_content'>
                <div class='des'>將產品發佈到牆上，並在Linker購買時獲得返利。</div>
                <div class='radio_wrapper'><span class='checkmark'></span></div>
              </div>
            </div>
            <div class='row_method row_payment'>
              <div class='row_title'>付款方式</div>
              <div class='row_content'>

              </div>
            </div>
            <button id='payment_confirm'>搞掂俾錢<i class="fas fa-dollar-sign"></i></button>
          </div>
          <!-- -->
        </div>
        <div class='shipping_select_wrapper shawdow002' id='so_1'>
          <div class='block_shippingSelect active'>
            <div class='headLine'><span>自取點選擇</span><span class='open'></span></div>
            <div class='b_content '>
              <div class='' style='text-align:right;'><a href='' class='des'>自取點位置一覽及自取安排<i class="fas fa-exclamation-circle"></i></a></div>
              <div class='location_select_wrapper'>
                <div class='select_content'>
                  <select class="form-control">
                    <option>全部</option>
                    <option>香港島</option>
                    <option>九龍</option>
                    <option>新界</option>
                  </select>
                </div>
                <div class='select_content'>
                  <select class="form-control">
                    <option>九龍城</option>
                    <option>黃大仙</option>
                    <option>觀塘</option>
                    <option>油尖旺</option>
                    <option>深水埗</option>
                  </select>
                </div>
              </div>
              <div class='option_wrapper'>
                <div class='brick_location'>紅磡鶴園街2號G恆豐工業大厦二期D2座地下</div>
                <div class='brick_location'>九龍土瓜灣馬頭圍邨夜合樓地下109室</div>
                <div class='brick_location'>九龍 觀塘 牛頭角道300-302號 裕民中心</div>
                <div class='brick_location'>九龍 九龍城 太子道西362-364號 地下C號舖</div>
                <div class='brick_location'>九龍新蒲崗四美街23號利森工業大廈7字樓5號</div>
                <div class='brick_location'>紅磡鶴園街2號G恆豐工業大厦二期D2座地下</div>
                <div class='brick_location'>九龍土瓜灣馬頭圍邨夜合樓地下109室</div>
                <div class='brick_location'>九龍 觀塘 牛頭角道300-302號 裕民中心</div>
                <div class='brick_location'>九龍 九龍城 太子道西362-364號 地下C號舖</div>
                <div class='brick_location'>九龍新蒲崗四美街23號利森工業大廈7字樓5號</div>
              </div>
              <div class='btn_l' id='btn_pulocationConfirm'>確定</div>
                <div class='btn_l btn_l_c' id=''>取消</div>
            </div>
          </div>
        </div>
        <div class='shipping_select_wrapper shawdow002' id='so_2'>
          <div class='block_shippingSelect active'>
            <div class='headLine'><span>OK選擇</span><span class='open'></span></div>
            <div class='b_content '>
              <div class='' style='text-align:right;'><a href='' class='des'>OK便利店位置一覽及自取安排<i class="fas fa-exclamation-circle"></i></a></div>
              <div class='location_select_wrapper'>
                <div class='select_content'>
                  <select class="form-control">
                    <option>全部</option>
                    <option>香港島</option>
                    <option>九龍</option>
                    <option>新界</option>
                  </select>
                </div>
                <div class='select_content'>
                  <select class="form-control">
                    <option>九龍城</option>
                    <option>黃大仙</option>
                    <option>觀塘</option>
                    <option>油尖旺</option>
                    <option>深水埗</option>
                  </select>
                </div>
              </div>
              <div class='option_wrapper'>
                <div class='brick_location'>紅磡鶴園街2號G恆豐工業大厦二期D2座地下</div>
                <div class='brick_location'>九龍土瓜灣馬頭圍邨夜合樓地下109室</div>
                <div class='brick_location'>九龍 觀塘 牛頭角道300-302號 裕民中心</div>
                <div class='brick_location'>九龍 九龍城 太子道西362-364號 地下C號舖</div>
                <div class='brick_location'>九龍新蒲崗四美街23號利森工業大廈7字樓5號</div>
                <div class='brick_location'>紅磡鶴園街2號G恆豐工業大厦二期D2座地下</div>
                <div class='brick_location'>九龍土瓜灣馬頭圍邨夜合樓地下109室</div>
                <div class='brick_location'>九龍 觀塘 牛頭角道300-302號 裕民中心</div>
                <div class='brick_location'>九龍 九龍城 太子道西362-364號 地下C號舖</div>
                <div class='brick_location'>九龍新蒲崗四美街23號利森工業大廈7字樓5號</div>
              </div>
              <div class='btn_l' id='btn_oklocationConfirm'>確定</div>
                <div class='btn_l btn_l_c' id=''>取消</div>
            </div>
          </div>
        </div>
        <div class='shipping_select_wrapper shawdow002' id='so_3'>
          <div class='block_shippingSelect active'>
            <div class='headLine'><span>上門送貨</span><span class='open'></span></div>
            <div class='b_content '>
              <div class='' style='text-align:right;'><a href='' class='des'>上門送貨需知<i class="fas fa-exclamation-circle"></i></a></div>
              <div class='input_location_wrapper'>
                <div>請輸入上門送貨地址 :</div>
                <div class='row_input'>
                  <input class='col_input col_input-50' id='location_region' value='九龍' placeholder="地域 Region"/>
                  <input class='col_input col_input-50' id='location_district' value='觀塘' placeholder="地區 District"/>
                </div>
                <div class='row_input'>
                  <input class='col_input col_input-50' id='location_street' value='牛頭角道' placeholder="街道名稱 Street"/>
                  <input class='col_input col_input-50' id='location_streetNo' value='333號' placeholder="街道門牌 Street No."/>
                </div>
                <div class='row_input'>
                  <input class='col_input col_input-100' id='location_estate' value='觀塘邨' placeholder="屋邨名稱 Estate"/>
                </div>
                <div class='row_input'>
                  <input class='col_input col_input-100' id='location_phase' value='19期' placeholder=" 屋邨期數 Phase"/>
                </div>
                <div class='row_input'>
                  <input class='col_input col_input-100' id='location_building' value='觀塘樓' placeholder=" 樓宇名稱 Building"/>
                </div>
                <div class='row_input'>
                  <input class='col_input col_input-50' id='location_floor' value='7樓' placeholder="樓層 Floor"/>
                  <input class='col_input col_input-50' id='location_unit' value='706室' placeholder="單位 Unit"/>
                </div>
                <div class='btn_l' id='btn_locationConfirm'>確定</div>
                <div class='btn_l btn_l_c' id='btn_locationCancel'>取消</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--- --->
</div>
