<script>
  $(document).ready(function(){
  });
</script>
<body>
  <div id='section_companyInfo'>
    <div class='wrapper'>
      <div class='section_title'>
        售家
      </div>
      <div class='section_content'>
        <div class='wrapper_com'>
          <div class='company_image'></div>
          <div class='company_binfo'>
            <div class='company_name'>大阪東公司</div>
            <a href='./vendor.html'><div class='action_btn'>查看商店</div></a>
          </div>
        </div>
        <div class='company_stat'>
          <div class='company_linkers'>Linker: <span>0</span></div>
          <div class='company_linking'>Linking: <span>0</span></div>
          <div class='company_productQuantity'>產品數量: <span>231</span></div>
          <div class='company_startTime'>加入時間: <span>2個月</span></div>
        </div>
      </div>
    </div>

  </div>
</body>
