<div id='footer'>
  <div class='wrapper'>
    <div class='card_col'>
      <div class='card_title'>關於 LinkedMarts</div>
      <div class='card_item'><a href=''>關於我們</a></div>
      <div class='card_item'><a href=''>自取點位置</a></div>
    </div>
    <div class='card_col'>
      <div class='card_title'>My LinkedMarts</div>
      <div class='card_item'><a href=''>我的訂單</a></div>
    </div>
    <div class='card_col'>
      <div class='card_title'>合作機會</div>
      <div class='card_item'><a href='https://www.linkedmarts.com/en/landing.html#tools'>成為賣家</a></div>
    </div>
    <div class='card_col'>
      <div class='card_title'>Help & FAQs</div>
      <div class='card_item'><a href=''>聯絡我們</a></div>
    </div>
    <div class='card_col'>
      <div class='card_title'>社交媒體</div>
      <div class='card_item'><a href=''><i class="fab fa-facebook-f" style='margin-right:10px;'></i> Facebook</a></div>
      <div class='card_item'><a href=''><i class="fab fa-instagram" style='margin-right:10px;'></i> Instagram</a></div>
      <div class='card_item'><a href=''><i class="fab fa-linkedin-in" style='margin-right:10px;'></i> LinkedIn</a></div>
    </div>
    <div class='card_col'>
      <div class='card_title'>付款方式</div>
        <div class='row_wrapper'>
          <div class='payment_img'><img src='image/payment-methods-01.png'/></div>
          <div class='payment_img'><img src='image/payment-methods-02.png'/></div>
          <div class='payment_img'><img src='image/payment-methods-03.png'/></div>
        </div>
        <div class='subtitle'>Coming Soon</div>
        <div class='row_wrapper'>
          <div class='payment_img'><img src='image/payment-methods-04.png'/></div>
          <div class='payment_img'><img src='image/payment-methods-05.png'/></div>
          <div class='payment_img'><img src='image/payment-methods-06.png'/></div>
        </div>
    </div>
  </div>
</div>
