<script>
  $(document).ready(function(){
  });
</script>
<div id='section_myorderContent'>
  <div class='breadcrumbs'>
    <a href=''>我的訂單</a>
  </div>
  <div class='wrapper'>
    <div class='section_title'>
      我的訂單
    </div>
    <div class='section_content'>
      <div class='wrapper_switchTag'>
        <div class='btn_switch active' id='btn_switch_AO'>所有訂單</div>
        <div class='btn_switch' id='btn_switch_AO'>確認訂單</div>
        <div class='btn_switch' id='btn_switch_AO'>評價產品</div>
      </div>
      <div class='des'>如有任何疑問，請隨時與我們聯繫，我們的客戶服務中心將為您提供24/7全天候服務<i class="fas fa-exclamation-circle"></i></div>
      <div class='wrapper_order_list'>
        <div class='wrapper_sOrder'>
          <div class='wrapper_orderStat'>
            <div class='wrapper_orderNo'>訂單編號: <span>OR2005000812</span></div>
            <div class='wrapper_orderDate'>落單日期: <span>2020/05/22 15:03:22</span></div>
            <div class='wrapper_orderDT'>預計送達時間: <span>2020/05/27</span></div>
          </div>
          <div class='wrapper_productStat'>
            <div class='o_productPic'><div class='o_pd_image' style='background-image:url("image/001.jpg")'></div></div>
            <div class='o_productInfo'>
              <a href='' class='hlink_product_bn'><span class='o_pd_brand'>太陽牌</span> - <span class='o_pd_name'>夏威夷黑糖[70周年特別版]</span></a>
              <div class='o_productQty'>數量: 5</div>
              <a href='' class='o_productVd'>柴米油鹽批發</a>
            </div>
            <div class='o_productPrice'>440.00</div>
            <div class='o_orderStatus'>
              <div class='o_orderShippongStatus o_ss_shipping'>運送中 <i class="fas fa-truck"></i></div>
              <a href='orderdetail.html' class='o_orderDetails'><div>訂單資料</div></a>
            </div>
            <div class='o_orderAction'>
            </div>
          </div>
        </div>
        <div class='wrapper_sOrder'>
          <div class='wrapper_orderStat'>
            <div class='wrapper_orderNo'>訂單編號: <span>OR2005000812</span></div>
            <div class='wrapper_orderDate'>落單日期: <span>2020/05/22 15:03:22</span></div>
            <div class='wrapper_orderDT'>預計送達時間: <span>2020/05/27</span></div>
          </div>
          <div class='wrapper_productStat'>
            <div class='o_productPic'><div class='o_pd_image' style='background-image:url("image/001.jpg")'></div></div>
            <div class='o_productInfo'>
              <a href='' class='hlink_product_bn'><span class='o_pd_brand'>太陽牌</span> - <span class='o_pd_name'>夏威夷黑糖[70周年特別版]</span></a>
              <div class='o_productQty'>數量: 5</div>
              <a href='' class='o_productVd'>柴米油鹽批發</a>
            </div>
            <div class='o_productPrice'>440.00</div>
            <div class='o_orderStatus'>
              <div class='o_orderShippongStatus'>已送達 <i class="fas fa-clipboard-check"></i></div>
              <a href='orderdetail.html' class='o_orderDetails'><div>訂單資料</div></a>
            </div>
            <div class='o_orderAction'>
            </div>
          </div>
        </div>
        <div class='wrapper_sOrder'>
          <div class='wrapper_orderStat'>
            <div class='wrapper_orderNo'>訂單編號: <span>OR2005000812</span></div>
            <div class='wrapper_orderDate'>落單日期: <span>2020/05/22 15:03:22</span></div>
          </div>
          <div class='wrapper_productStat'>
            <div class='o_productPic'><div class='o_pd_image' style='background-image:url("image/003.jpg")'></div></div>
            <div class='o_productInfo'>
              <a href='' class='hlink_product_bn'><span class='o_pd_brand'>沙田牌</span> - <span class='o_pd_name'>非洲天然岩鹽 250磅裝[香蕉味特別版]</span></a>
              <div class='o_productQty'>數量: 5</div>
              <a href='' class='o_productVd'>柴米油鹽批發</a>
            </div>
            <div class='o_productPrice'>440.00</div>
            <div class='o_orderStatus'>
              <div class='o_orderShippongStatus'>已過期 <i class="fas fa-hourglass-end"></i></div>
              <a href='orderdetail.html' class='o_orderDetails'><div>訂單資料</div></a>
            </div>
            <div class='o_orderAction'>
              <button class='btn_oaction' id='btn_oa_confirm'>確認訂單</button>
              <button class='btn_oaction' id='btn_oa_review'>評論</button>
            </div>
          </div>
        </div>
        <div class='wrapper_sOrder'>
          <div class='wrapper_orderStat'>
            <div class='wrapper_orderNo'>訂單編號: <span>OR2005000812</span></div>
            <div class='wrapper_orderDate'>落單日期: <span>2020/05/22 15:03:22</span></div>
          </div>
          <div class='wrapper_productStat'>
            <div class='o_productPic'><div class='o_pd_image' style='background-image:url("image/002.jpg")'></div></div>
            <div class='o_productInfo'>
              <a href='' class='hlink_product_bn'><span class='o_pd_brand'>太陽牌</span> - <span class='o_pd_name'>夏威夷黑糖[70周年特別版]</span></a>
              <div class='o_productQty'>數量: 5</div>
              <a href='' class='o_productVd'>柴米油鹽批發</a>
            </div>
            <div class='o_productPrice'>440.00</div>
            <div class='o_orderStatus'>
              <div class='o_orderShippongStatus'>已過期 <i class="fas fa-hourglass-end"></i></div>
              <a href='orderdetail.html' class='o_orderDetails'><div>訂單資料</div></a>
            </div>
            <div class='o_orderAction'>
              <button class='btn_oaction' id='btn_oa_confirm'>確認訂單</button>
              <button class='btn_oaction' id='btn_oa_review'>評論</button>
            </div>
          </div>
        </div>
        <div class='wrapper_sOrder'>
          <div class='wrapper_orderStat'>
            <div class='wrapper_orderNo'>訂單編號: <span>OR2005000812</span></div>
            <div class='wrapper_orderDate'>落單日期: <span>2020/05/22 15:03:22</span></div>
          </div>
          <div class='wrapper_productStat'>
            <div class='o_productPic'><div class='o_pd_image' style='background-image:url("image/002.jpg")'></div></div>
            <div class='o_productInfo'>
              <a href='' class='hlink_product_bn'><span class='o_pd_brand'>太陽牌</span> - <span class='o_pd_name'>夏威夷黑糖[70周年特別版]</span></a>
              <div class='o_productQty'>數量: 5</div>
              <a href='' class='o_productVd'>柴米油鹽批發</a>
            </div>
            <div class='o_productPrice'>440.00</div>
            <div class='o_orderStatus'>
              <div class='o_orderShippongStatus'>已過期 <i class="fas fa-hourglass-end"></i></div>
              <a href='orderdetail.html' class='o_orderDetails'><div>訂單資料</div></a>
            </div>
            <div class='o_orderAction'>
              <button class='btn_oaction' id='btn_oa_confirm'>確認訂單</button>
              <button class='btn_oaction' id='btn_oa_review'>評論</button>
            </div>
          </div>
        </div>
        <div class='wrapper_sOrder'>
          <div class='wrapper_orderStat'>
            <div class='wrapper_orderNo'>訂單編號: <span>OR2005000812</span></div>
            <div class='wrapper_orderDate'>落單日期: <span>2020/05/22 15:03:22</span></div>
          </div>
          <div class='wrapper_productStat'>
            <div class='o_productPic'><div class='o_pd_image' style='background-image:url("image/002.jpg")'></div></div>
            <div class='o_productInfo'>
              <a href='' class='hlink_product_bn'><span class='o_pd_brand'>太陽牌</span> - <span class='o_pd_name'>夏威夷黑糖[70周年特別版]</span></a>
              <div class='o_productQty'>數量: 5</div>
              <a href='' class='o_productVd'>柴米油鹽批發</a>
            </div>
            <div class='o_productPrice'>440.00</div>
            <div class='o_orderStatus'>
              <div class='o_orderShippongStatus'>已過期 <i class="fas fa-hourglass-end"></i></div>
              <a href='orderdetail.html' class='o_orderDetails'><div>訂單資料</div></a>
            </div>
            <div class='o_orderAction'>
              <button class='btn_oaction' id='btn_oa_confirm'>確認訂單</button>
              <button class='btn_oaction' id='btn_oa_review'>評論</button>
            </div>
          </div>
        </div>
        <div class='wrapper_sOrder'>
          <div class='wrapper_orderStat'>
            <div class='wrapper_orderNo'>訂單編號: <span>OR2005000812</span></div>
            <div class='wrapper_orderDate'>落單日期: <span>2020/05/22 15:03:22</span></div>
          </div>
          <div class='wrapper_productStat'>
            <div class='o_productPic'><div class='o_pd_image' style='background-image:url("image/002.jpg")'></div></div>
            <div class='o_productInfo'>
              <a href='' class='hlink_product_bn'><span class='o_pd_brand'>太陽牌</span> - <span class='o_pd_name'>夏威夷黑糖[70周年特別版]</span></a>
              <div class='o_productQty'>數量: 5</div>
              <a href='' class='o_productVd'>柴米油鹽批發</a>
            </div>
            <div class='o_productPrice'>440.00</div>
            <div class='o_orderStatus'>
              <div class='o_orderShippongStatus'>已過期 <i class="fas fa-hourglass-end"></i></div>
              <a href='orderdetail.html' class='o_orderDetails'><div>訂單資料</div></a>
            </div>
            <div class='o_orderAction'>
              <button class='btn_oaction' id='btn_oa_confirm'>確認訂單</button>
              <button class='btn_oaction' id='btn_oa_review'>評論</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--- --->
</div>
