<script>
  $(document).ready(function(){

  });
</script>
<style>
  #section_notification{width:100%;}
  #section_notification>div.wrapper{}
  #section_notification>div.wrapper>a.notice_content{display:flex;justify-content:space-between;align-items:center;}
  #section_notification>div.wrapper>a.notice_content{background:#ffc281;color:black;font-size:0.85em;padding:2px 5px;border:2px solid #ff8c41;text-decoration:none;cursor:pointer;}
  #section_notification>div.wrapper>a.notice_content:hover{background:#fe9a4c;}
  #section_notification>div.wrapper>a.notice_content>div.more_btn{background:#fff;color:#fea84c;font-size:0.8em;padding:0px 2px;border-radius:3px;}
</style>
<body>
  <div id='section_notification'>
    <div class='wrapper'>
      <a href='' class='notice_content'>
        <div class='notice'>
          <i class="fas fa-exclamation-circle"></i>
          <span>因應肺炎疫情, 送貨措施將會有新安排。<span>
        </div>
        <div class='more_btn'>more</div>
      </a>
    </div>
  </div>
</body>
