<script>
  $(document).ready(function(){
  });
</script>
<div id='section_orderdetailContent'>
  <div class='breadcrumbs'>
    <a href=''>我的訂單</a> > <a href=''>訂單資料</a>
  </div>
  <div class='wrapper'>
    <div class='section_title'>
      訂單資料
    </div>
    <div class='section_content'>
      <div class='des'>如有任何疑問，請隨時與我們聯繫，我們的客戶服務中心將為您提供24/7全天候服務<i class="fas fa-exclamation-circle"></i></div>
      <div class='wrapper_mass'>
        <div class='wrapper_great shawdow001'>
          <div class='wrapper_col wrapper_col_oi'>
            <div class='wrapper_orderInfo'>
              <div class='col_title'>訂單資料</div>
              <div class='wrapper_row sem_on'>
                <div class='subtitle'>訂單編號</div>
                <div class='od_o_on o_info'>OR2005000812</div>
              </div>
              <div class='wrapper_row'>
                <div class='subtitle'>訂單日期</div>
                <div class='od_o_od o_info'>2020/05/22 15:03:22</div>
              </div>
              <div class='wrapper_row'>
                <div class='subtitle'>預計送達日期</div>
                <div class='od_o_osd o_info'>2020/05/22 15:03:22</div>
              </div>
              <div class='wrapper_row'>
                <div class='subtitle'>訂單形式</div>
                <div class='od_o_ot o_info'>團購</div>
              </div>
              <div class='wrapper_row'>
                <div class='subtitle'>訂單狀態</div>
                <div class='od_o_os o_info'>已送達</div>
              </div>
              <hr/>
              <div class='wrapper_row'>
                <div class='subtitle'>自取點</div>
                <div class='od_o_opu o_info'>九龍新蒲崗四美街23號利森工業大廈7字樓5號</div>
              </div>
              <div class='wrapper_row'>
                <div class='subtitle'>物流供應商</div>
                <div class='od_o_opu o_info'>Gobuyship</div>
              </div>
            </div>
          </div>
          <div class='wrapper_col wrapper_col_ci'>
            <div class='wrapper_cusmInfo'>
              <div class='col_title'>顧客資料</div>
              <div class='wrapper_row'>
                <div class='subtitle'>顧客姓名</div>
                <div class='od_o_on o_info'>Peter Parker</div>
              </div>
              <div class='wrapper_row'>
                <div class='subtitle'>電話號碼</div>
                <div class='od_o_on o_info'>2180 0000</div>
              </div>
              <div class='wrapper_row'>
                <div class='subtitle'>電郵地址</div>
                <div class='od_o_on o_info'>johndoe@gmail.com</div>
              </div>
              <div class='wrapper_row'>
                <div class='subtitle'>備註</div>
                <div class='od_o_on o_info'>小心易碎</div>
              </div>
              <div class='wrapper_row c_noti'>
                <i class="fas fa-exclamation-circle"></i>
                <div class=''>請攜帶您的提貨單短信，並註明您正在使用Gobuyship作為物流提供商</div>
              </div>
              <div class='wrapper_row c_noti'>
                <i class="fas fa-exclamation-circle"></i>
                <div class=''>抵達後3天內取貨。 接載前請檢查接載點的開放時間</div>
              </div>
              <div class='wrapper_row c_noti'>
                <i class="fas fa-exclamation-circle"></i>
                <div class=''>您將需要支付每天港幣20元的罰款。 您的產品可能會在到達後的7個工作日後處理</div>
              </div>
            </div>
          </div>
        </div>

        <div class='wrapper_col wrapper_col_si shawdow001'>
          <div class='wrapper_db'>
            <div class='col_title'>訂單進度</div>
            <div class='wrapper_row2 wrapper_step passed'>
              <div class='des'>成功團購產品</div>
              <div class='circle_step'>1</div>
            </div>
            <div class='wrapper_row2 wrapper_step passed'>
              <div class='des'>貨品運輸中</div>
              <div class='circle_step'>2</div>
            </div>
            <div class='wrapper_row2 wrapper_step'>
              <div class='des'>貨品送達自取點</div>
              <div class='circle_step'>3</div>
            </div>
            <div class='wrapper_row2 wrapper_step'>
              <div class='des'>確定已取貨品</div>
              <div class='circle_step'>4</div>
            </div>
            <div class='wrapper_row2 wrapper_step'>
              <div class='des'>評價產品</div>
              <div class='circle_step'>5</div>
            </div>
          </div>
        </div>
      </div>
      <div class='wrapper_oproduct shawdow001'>
        <div class='subtitle'>訂單貨品</div>
        <div class='wrapper_productStat'>
          <div class='o_productPic'><div class='o_pd_image' style='background-image:url("image/003.jpg")'></div></div>
          <div class='o_productInfo'>
            <a href=''><span class='o_pd_brand'>沙田牌</span> - <span class='o_pd_name'>非洲天然岩鹽 250磅裝[香蕉味特別版]</span></a>
            <div class='o_productQty'>數量: 5</div>
            <a href='' class='o_productVd'>柴米油鹽批發</a>
          </div>
          <div class='o_productPrice'>440.00</div>
          <div class='o_orderStatus'>
            <div class='o_orderShippongStatus'>運送中 <i class="fas fa-truck"></i></div>
          </div>
          <div class='o_orderAction'>
            <button class='btn_oaction' id='btn_oa_confirm'>確認訂單</button>
            <button class='btn_oaction' id='btn_oa_review'>評論</button>
          </div>
        </div>
      </div>
      <div class='wrapper_split '>
        <div class='wrapper_osummary'>
          <div class='subtitle'>訂單總計</div>
          <div class='wrapper_os_content'>
            <div class='row_des'><span>總數</span><span class='os_tp'>440.00</span></div>
            <div class='row_des'><span>折省</span><span class='os_tp'>22.00</span></div>
            <div class='row_des'><span>運費</span><span class='os_tp'>免費</span></div>
            <div class='row_des'><span>累計總數</span><span class='os_tp'>440.00</span></div>
          </div>
        </div>
        <div class='wrapper_receipt'>
          <div class='subtitle'>訂單收據</div>
          <div class='wrapper_r_content'>
            <button>下載收據 <i class="fas fa-file-download"></i></button>
            <div class='des'><i class="fas fa-exclamation-circle"></i>請訪問我們的網站www.linkedmarts.com/faq以獲得一些常見問題，或致電+852 6888 4742與我們的客戶服務團隊聯繫</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--- --->
</div>
