<script>
  $(document).ready(function(){
    $('div.btn_switch').on('click',function(){
      $('div.btn_switch').removeClass('active');
      $(this).addClass('active');
    });
  });
</script>
<body>
  <div id='section_pickuppointDetail'>
    <div class='wrapper'>
      <div class='wrapper_catchline'>
        <div class='des'>合作夥伴</div>
        <div class='cl_logo'><img src='image/gobuyship_logo.png'/></div>
      </div>
      <div class='wrapper_subline'>
        <div class='des'>全港超過50個自取點選擇</div>
      </div>
      <div class='wrapper_mainContent'>
        <div class='wrapper_switch_btn'>
          <div class='btn_switch active' id='btn_switch_hki'>香港島 <span class='num_location'>5個</span></div>
          <div class='btn_switch' id='btn_switch_hki'>九龍 <span class='num_location'>14個</span></div>
          <div class='btn_switch' id='btn_switch_hki'>新界 <span class='num_location'>12個</span></div>
        </div>
        <div class='wrapper_location_content'>
          <div class='headline'>香港島</div>
          <div class='wrapper_content'>
            <div class='wrapper_row'>
              <div class='loc'>紅磡鶴園街2號G恆豐工業大厦二期D2座地下</div>
              <div class='ot'>星期一至日 09:00 - 19:00</div>
            </div>
            <div class='wrapper_row'>
              <div class='loc'>九龍 九龍城 太子道西362-364號 地下C號舖</div>
              <div class='ot'>星期一至日 09:00 - 19:00</div>
            </div>
            <div class='wrapper_row'>
              <div class='loc'>九龍 觀塘 牛頭角道300-302號 裕民中心</div>
              <div class='ot'>星期一至日 09:00 - 19:00</div>
            </div>
            <div class='wrapper_row'>
              <div class='loc'>九龍新蒲崗四美街23號利森工業大廈7字樓5號</div>
              <div class='ot'>星期一至日 09:00 - 19:00</div>
            </div>
            <div class='wrapper_row'>
              <div class='loc'>九龍土瓜灣馬頭圍邨夜合樓地下109室</div>
              <div class='ot'>星期一至日 09:00 - 19:00</div>
            </div>
            <div class='wrapper_row'>
              <div class='loc'>九龍 觀塘 牛頭角道300-302號 裕民中心</div>
              <div class='ot'>星期一至日 09:00 - 19:00</div>
            </div>
            <div class='wrapper_row'>
              <div class='loc'>紅磡鶴園街2號G恆豐工業大厦二期D2座地下</div>
              <div class='ot'>星期一至日 09:00 - 19:00</div>
            </div>
            <div class='wrapper_row'>
              <div class='loc'>九龍 九龍城 太子道西362-364號 地下C號舖</div>
              <div class='ot'>星期一至日 09:00 - 19:00</div>
            </div>
            <div class='wrapper_row'>
              <div class='loc'>九龍 觀塘 牛頭角道300-302號 裕民中心</div>
              <div class='ot'>星期一至日 09:00 - 19:00</div>
            </div>
            <div class='wrapper_row'>
              <div class='loc'>九龍新蒲崗四美街23號利森工業大廈7字樓5號</div>
              <div class='ot'>星期一至日 09:00 - 19:00</div>
            </div>
            <div class='wrapper_row'>
              <div class='loc'>九龍土瓜灣馬頭圍邨夜合樓地下109室</div>
              <div class='ot'>星期一至日 09:00 - 19:00</div>
            </div>
            <div class='wrapper_row'>
              <div class='loc'>九龍 觀塘 牛頭角道300-302號 裕民中心</div>
              <div class='ot'>星期一至日 09:00 - 19:00</div>
            </div>
          </div>
        </div>
      </div>
      <div class='wrapper_inner wrapper_flow'>
        <div class='subtitle'>流程</div>
        <div class='content'></div>
      </div>
      <div class='wrapper_inner wrapper_rules'>
        <div class='subtitle'>條款細則</div>
        <div class='content'></div>
      </div>
    </div>
  </div>
</body>
