<script>
  $(document).ready(function(){});
</script>
<body>
  <div id='section_productSpec'>
    <div class='wrapper'>
      <div class='section_title'>
        產品資料
      </div>
      <div class='section_content'>
        <div class='product_origin'><span class='des'>產地: </span><span>日本北海道</span></div>
        <div class='product_condition'><span class='des'>產品狀況: </span><span>最新</span></div>
        <div class='product_des'>
          <ul><li>糖份100%</li>
          <li>有機</li></ul>
        </div>
      </div>
    </div>
  </div>
</body>
