<script>
  $(document).ready(function(){
    $('div.content_title').on('click',function(){
      $('div.content_title').removeClass('active');
      $(this).addClass('active');
      switch($(this).index()){
        case 0:  $('div.review_all').addClass('active');
                  $('div.review_fd').removeClass('active');
                  break;
        case 1 :  $('div.review_all').removeClass('active');
                  $('div.review_fd').addClass('active');
                  break;
        default:  break;
      }
    });
  });
</script>
<body>
  <div id='section_productReview'>
    <div class='wrapper'>
      <div class='section_title'>
        評價
      </div>
      <div class='section_content'>
        <div class='review_all active'>
          <div class='content_title_btn'>
            <div class='content_title active'>全部評價 (2)</div>
            <div class='content_title'>朋友評價 (0)</div>
          </div>
          <div class='content_block'>
            <div class='review_all active'>
              <div class='signle_comment'>
                <div class='user_image'></div>
                <div class='review_stat'>
                  <div class='user_name'>De*********</div>
                  <div class='review_rd'><span class='review_rate'><i class="fas fa-star rate_star" id='st1'></i><i class="fas fa-star rate_star" id='st1'></i><i class="fas fa-star rate_star" id='st1'></i><i class="fas fa-star rate_star" id='st1'></i><i class="fas fa-star rate_star" id='st1'></i></span> | <span class='review_date'>2020-04-04</span></div>
                </div>
                <div class='review_comment'>
                  <div class='comment_text'>好好味, 下次會再買</div>
                  <div class='wrapper_comment_pic'>
                    <div class='comment_pic'></div>
                    <div class='comment_pic'></div>
                  </div>
                </div>
              </div>
              <div class='signle_comment'>
                <div class='user_image'></div>
                <div class='review_stat'>
                  <div class='user_name'>Ed*********</div>
                  <div class='review_rd'><span class='review_rate'><i class="fas fa-star rate_star" id='st1'></i><i class="fas fa-star rate_star" id='st1'></i><i class="fas fa-star rate_star" id='st1'></i><i class="fas fa-star rate_star" id='st1'></i><i class="fas fa-star rate_star" id='st1'></i></span> | <span class='review_date'>2020-04-04</span></div>
                </div>
                <div class='review_comment'>
                  <div class='comment_text'>品質唔錯, 會推薦俾朋友</div>
                  <div class='wrapper_comment_pic'>
                    <div class='comment_pic'></div>
                  </div>
                </div>
              </div>
            </div>
            <div class='review_fd'>
              <div class='single_comment noComment'>暫時未有評價</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
