<script>
  $(document).ready(function(){});
</script>
<body>
  <div id='section_productGuarantee'>
    <div class='wrapper_mass'>
      <div class='wrapper'>
        <div class='section_title'>
          賣家保證
        </div>
        <div class='section_content'>
          <ul>
            <li>Deliver in 14 - 18 Days</li>
            <li>Authentic guarantee</li>
            <li>Free Shipping</li>
          </ul>
        </div>
      </div>
      <!-- -->
      <div class='wrapper'>
        <div class='section_title'>
          送貨排程
        </div>
        <div class='section_content'>
          <div class='product_des'>
            <p>貨品需時3-5個工作天送到自取點。</p>
          </div>
        </div>
      </div>
      <!-- -->
      <div class='wrapper'>
        <div class='section_title'>
          退貨及退款政策
        </div>
        <div class='section_content'>
          <div class='product_des'>
            <div class='product_return'><span class='des'>退貸政策:</span><span>不設退貨</span></div>
            <div class='product_refund'><span class='des'>退款政策:</span><span>不設退款</span></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
