<script>
  $(document).ready(function(){
    $('div#payment_btn_g').on('click',function(){
      window.location.href = "./checkout.html";
    });
  });
</script>
<body>
  <div id='section_productDetail'>
    <div class='breadcrumbs'>
      <a href=''>食品及飲料</a> > <a href=''>零2食<a/> > <a href=''>有機食品</a>
    </div>
    <div class='wrapper'>
      <div class='wrapper_productDetail'>
        <div class='wrapper_productImage'>
          <div class='queue_image'>
            <div class='queue_list_image' style='background-image:url("image/002.jpg")'></div>
            <div class='queue_list_image' style='background-image:url("image/003.jpg")'></div>
            <div class='queue_list_image' style='background-image:url("image/001.jpg")'></div>
          </div>
          <div class='main_image' style='background-image:url("image/001.jpg")'></div>
        </div>
        <div class='wrapper_productInfo'>
          <div class='wrapper_badge'></div>
          <div class='product_info'>
            <div class='product_name'>
              <span class='product_brand'>廚房牌</span>
              <div> 北海道胡椒粉 橙味</div>
            </div>

            <span class='product_stock'><span id='ps_1' class='active'>有存貨</span><span id='ps_2'>缺貨</span><span id='ps_3'>尚餘少量</span></span>

            <span class='right_div'>
              <span class='product_vendor'>大阪東公司</span>|<span><i class="fas fa-star rate_star" id='st1'></i><i class="fas fa-star rate_star" id='st1'></i><i class="fas fa-star rate_star" id='st1'></i><i class="fas fa-star rate_star" id='st1'></i><i class="fas fa-star rate_star" id='st1'></i></span>|<span class='product_sold'>已售出 881 件</span>
            </span>
            <div class='action_btn' id='btn_heart'><i class="fas fa-heart"></i></div>
          </div>
          <hr/>
          <div class='badge_wrapper'>
            <div class='product_logD'><i class="fas fa-truck"></i> 4日送至自取點</div>
            <div class='product_x'><i class="fas fa-crown"></i> 王牌產品</div>
          </div>
          <div class='product_price info_sect'>
            <div class='product_price_single price_list'>
              <div class='des'>單獨購買</div>
              <div class='pe'>HKD $99.00</div>
            </div>
            <div class='product_price_group price_list'>
              <div class='des'>團購</div>
              <div class='pe'>HKD $66.00</div>
              <div class='pro_des'>比單獨購買平<span>33%</span></div>
            </div>
          </div>
          <div class='qty_wrapper info_sect'>
            <div>數量</div>
            <div class='product_qty'>
              <div class='btn_value' id='btn_value_reduce'>-</div>
              <input type='text' id='input_qty' value='1'>
              <div class='btn_value' id='btn_value_increase'>+</div>
            </div>
          </div>

          <div class='payment_btn_wrapper info_sect'>
            <div class='payment_btn' data-toggle="modal" data-target="#loginBox">單獨購買 <i class="fas fa-gift"></i></div>
            <div class='payment_btn' id='payment_btn_g'>團購 <i class="fas fa-people-carry"></i></div>
          </div>

          <div class='groupCheer_wrapper info_sect'>
            <div class='title'>
              <span>5人團購</span>
              <span>條款細則 <i class="fas fa-exclamation-circle"></i></span>
            </div>
            <div class='info'>
              <div class='group_append'>
                <div class='temp_wrapper'>
                  <div class='groupC_list'>
                    <div class='gl_user_image'></div>
                    <div class='gl_user_detail'>
                      <div class='gl_user_name'>Ke********</div>
                      <div class='gl_countdown' id='gl_countdown_1'></div>
                    </div>
                    <div class='gl_message'>3個名額 <span class='btn_join' data-toggle="modal" data-target="#loginBox">加入</span></div>
                  </div>
                  <div class='groupC_list'>
                    <div class='gl_user_image'></div>
                    <div class='gl_user_detail'>
                      <div class='gl_user_name'>Lf********</div>
                      <div class='gl_countdown' id='gl_countdown_2'></div>
                    </div>
                    <div class='gl_message'>1個名額 <span class='btn_join' data-toggle="modal" data-target="#loginBox">加入</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class='share_wrapper'>
            分享至
            <i class="fab fa-facebook-f share_btn"></i>
            <i class="fab fa-twitter share_btn"></i>
            <i class="fab fa-google-plus-g share_btn"></i>
            <i class="fas fa-share share_btn"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
