<script>
  $(document).ready(function(){
  });
</script>
<body>
  <div id='section_productRelated'>
    <div class='wrapper'>
      <div class='section_title'>
        相關產品
      </div>
      <div class='section_content'>
        <div class='item_brick'>
          <a href=''>
            <div class='item_image'style='background-image:url("image/003.jpg")'></div>
            <div class='item_info'>
              <div class='item_bi'>
                <span class='item_brand'>廚房牌</span> - <span class='item_name'>西班牙海鹽</span>
              </div>
              <div class='item_price'>HKD $77.00</div>
            </div>
          </a>
        </div>
        <div class='item_brick'>
          <a href=''>
            <div class='item_image'style='background-image:url("image/001.jpg")'></div>
            <div class='item_info'>
              <div class='item_bi'>
                <span class='item_brand'>廚房牌</span> - <span class='item_name'>菲律賓岩鹽</span>
              </div>
              <div class='item_price'>HKD $44.00</div>
            </div>
          </a>
        </div>
        <div class='item_brick'>
          <a href=''>
            <div class='item_image'style='background-image:url("image/002.jpg")'></div>
            <div class='item_info'>
              <div class='item_bi'>
                <span class='item_brand'>世界牌</span> - <span class='item_name'>馬來西亞冠軍級玫瑰鹽[5331]</span>
              </div>
              <div class='item_price'>HKD 155.00</div>
            </div>
          </a>
        </div>
        <div class='item_brick'>
          <a href=''>
            <div class='item_image'style='background-image:url("image/001.jpg")'></div>
            <div class='item_info'>
              <div class='item_bi'>
                <span class='item_brand'>世界牌</span> - <span class='item_name'>日本鹽</span>
              </div>
              <div class='item_price'>HKD $77.00</div>
            </div>
          </a>
        </div>
        <div class='item_brick'>
          <a href=''>
            <div class='item_image'style='background-image:url("image/003.jpg")'></div>
            <div class='item_info'>
              <div class='item_bi'>
                <span class='item_brand'>太陽牌</span> - <span class='item_name'>有機環保鹽</span>
              </div>
              <div class='item_price'>HKD $10.00</div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</body>
