<script>
  $(document).ready(function(){
    $('div.btn_switch').on('click',function(){
      $('div.btn_switch').removeClass('active');
      $(this).addClass('active');
      let target=$(this).attr('id').replace('btn','swishlist');
      $('div.wrapper_swishlist').removeClass('active');
      $('div#'+target).addClass('active');
    });
  });
</script>
<div id='section_wishlishContent'>
  <div class='breadcrumbs'>
    <a href=''>主頁</a> > <a href=''>願望清單</a>
  </div>
  <div class='wrapper'>
    <div class='section_title'>
      願望清單
    </div>
    <div class='section_content'>
      <div class='wrapper_switchTag'>
        <div class='btn_switch active' id='btn_switch_01'>公開</div>
        <div class='btn_switch' id='btn_switch_02'>私人</div>
      </div>
      <div class='wrapper_wishlist_list'>
        <div class='wrapper_swishlist active' id='swishlist_switch_01'>
          <div class='wrapper_productStat'>
            <div class='o_productPic'><div class='o_pd_image' style='background-image:url("image/001.jpg")'></div></div>
            <div class='o_productInfo'>
              <a href='' class='hlink_product_bn'><span class='o_pd_brand'>太陽牌</span> - <span class='o_pd_name'>夏威夷黑糖[70周年特別版]</span></a>
              <div><a href='' class='o_productVd'>柴米油鹽批發</a></div>
            </div>
            <div class='o_productPrice'>440.00</div>
            <div class='o_productCC'>
              每次推介可獲得<span>5%cheer coin</span>
            </div>
            <div class='o_productDD'>
              2020/05/28
            </div>
            <div class='o_orderAction'>
              <button class='btn_wl_action' id='btn_wl_gc'>瀏覽產品</button>
              <button class='btn_wl_action' id='btn_wl_remove'><i class="fas fa-times-circle"></i></button>
            </div>
          </div>
          <div class='wrapper_productStat'>
            <div class='o_productPic'><div class='o_pd_image' style='background-image:url("image/003.jpg")'></div></div>
            <div class='o_productInfo'>
              <a href='' class='hlink_product_bn'><span class='o_pd_brand'>六月牌</span> - <span class='o_pd_name'>太平洋天然深海泥</span></a>
              <div><a href='' class='o_productVd'>柴米油鹽批發</a></div>
            </div>
            <div class='o_productPrice'>230.00</div>
            <div class='o_productCC'>
              每次推介可獲得<span>5%cheer coin</span>
            </div>
            <div class='o_productDD'>
              2020/05/22
            </div>
            <div class='o_orderAction'>
              <button class='btn_wl_action' id='btn_wl_gc'>瀏覽產品</button>
              <button class='btn_wl_action' id='btn_wl_remove'><i class="fas fa-times-circle"></i></button>
            </div>
          </div>
          <div class='wrapper_productStat'>
            <div class='o_productPic'><div class='o_pd_image' style='background-image:url("image/002.jpg")'></div></div>
            <div class='o_productInfo'>
              <a href='' class='hlink_product_bn'><span class='o_pd_brand'>太陽牌</span> - <span class='o_pd_name'>北海道紫菜 增量50%優惠版</span></a>
              <div><a href='' class='o_productVd'>柴米油鹽批發</a></div>
            </div>
            <div class='o_productPrice'>780.00</div>
            <div class='o_productCC'>
              每次推介可獲得<span>7%cheer coin</span>
            </div>
            <div class='o_productDD'>
              2020/05/17
            </div>
            <div class='o_orderAction'>
              <button class='btn_wl_action' id='btn_wl_gc'>瀏覽產品</button>
              <button class='btn_wl_action' id='btn_wl_remove'><i class="fas fa-times-circle"></i></button>
            </div>
          </div>
          <div class='wrapper_productStat'>
            <div class='o_productPic'><div class='o_pd_image' style='background-image:url("image/001.jpg")'></div></div>
            <div class='o_productInfo'>
              <a href='' class='hlink_product_bn'><span class='o_pd_brand'>太陽牌</span> - <span class='o_pd_name'>夏威夷黑糖[70周年特別版]</span></a>
              <div><a href='' class='o_productVd'>柴米油鹽批發</a></div>
            </div>
            <div class='o_productPrice'>440.00</div>
            <div class='o_productCC'>
              每次推介可獲得<span>5%cheer coin</span>
            </div>
            <div class='o_productDD'>
              2020/05/28
            </div>
            <div class='o_orderAction'>
              <button class='btn_wl_action' id='btn_wl_gc'>瀏覽產品</button>
              <button class='btn_wl_action' id='btn_wl_remove'><i class="fas fa-times-circle"></i></button>
            </div>
          </div>
        </div>
        <div class='wrapper_swishlist' id='swishlist_switch_02'>
          <div class='wrapper_productStat'>
            <div class='o_productPic'><div class='o_pd_image' style='background-image:url("image/001.jpg")'></div></div>
            <div class='o_productInfo'>
              <a href='' class='hlink_product_bn'><span class='o_pd_brand'>太陽牌</span> - <span class='o_pd_name'>夏威夷黑糖[70周年特別版]</span></a>
              <div><a href='' class='o_productVd'>柴米油鹽批發</a></div>
            </div>
            <div class='o_productPrice'>440.00</div>
            <div class='o_productCC'>
              每次推介可獲得<span>5%cheer coin</span>
            </div>
            <div class='o_productDD'>
              2020/05/28
            </div>
            <div class='o_orderAction'>
              <button class='btn_wl_action' id='btn_wl_gc'>瀏覽產品</button>
              <button class='btn_wl_action' id='btn_wl_remove'><i class="fas fa-times-circle"></i></button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--- --->
</div>
